#blog-list-categories
  background: $overlay
  height: get-vw-desktop(343px)
  position: relative
  margin-top: 80px
  .blog-list-category-title, .blog-list-category-text
    line-height: get-vw-desktop(30px)
    text-align: center
  .blog-list-category-title
    color: $white
    font-family: Montserrat-Regular, sans-serif
    font-size: get-vw-desktop(18px)
    margin-top: get-vw-desktop(55px)
    opacity: 0.6
  .blog-list-category-text
    color: $white
    font-family: Montserrat-Bold, sans-serif
    font-size: get-vw-desktop(30px)
  .swiper-container-blog-categories
    height: get-vw-desktop(128px)
    margin-bottom: get-vw-desktop(65px)
    margin-top: get-vw-desktop(35px)
    position: initial
    width: get-vw-desktop(768px)
    .swiper-wrapper
      width: get-vw-desktop(800px)
      .swiper-slide
        border-radius: 100%
        position: relative
        width: get-vw-desktop(128px)
        img
          height: get-vw-desktop(128px)
          width: get-vw-desktop(128px)
        .swiper-overlay
          background: $overlay-blue
          border-radius: 50%
          height: get-vw-desktop(128px)
          position: absolute
          top: 0
          width: get-vw-desktop(128px)
    .swiper-button-prev, .swiper-button-next
      background-image: none
      color: $white
      font-size: get-vw-desktop(36px)
      height: get-vw-desktop(36px)
      text-align: center
      top: 63%
      width: get-vw-desktop(60px)
    .swiper-button-prev
      left: get-vw-desktop(230px)
    .swiper-button-next
      right: get-vw-desktop(230px)
.blog-list-triangle
  left: 50%
  position: relative
  top: -1px
  transform: translateX(-50%)
#blog-list
  background: $white
  .input-group
    border-collapse: separate
    border-bottom: 2px solid $select-grey
    display: table
    height: get-vw-desktop(48px)
    margin-top: get-vw-desktop(69px)
    position: relative
    width: get-vw-desktop(861px)
    i
      border: none
      color: $search-icon-grey
      display: table-cell
      height: get-vw-desktop(17px)
      padding-left: get-vw-desktop(11px)
      padding-top: get-vw-desktop(8px)
      vertical-align: middle
      width: get-vw-desktop(17px)
    input[type="text"]
      border: none
      box-shadow: none
      font-family: Montserrat-Regular, sans-serif
      font-size: get-vw-desktop(16px)
      height: get-vw-desktop(46px)
      line-height: get-vw-desktop(15px)
      padding-top: get-vw-desktop(15px)
  .blog-search, .blog-select
    padding: 0
  .blog-filter
    border: solid 2px $select-grey
    color: $select-grey-text
    font-family: Montserrat-Regular, sans-serif
    font-size: get-vw-desktop(16px)
    height: get-vw-desktop(48px)
    margin-top: get-vw-desktop(69px)
    width: get-vw-desktop(261px)
  .blog-post
    height: get-vw-desktop(430px)
    margin-top: get-vw-desktop(40px)
    padding: 0
    width: get-vw-desktop(565px)
    &:nth-child(odd)
      margin-right: get-vw-desktop(40px)
    .blog-image
      background-size: cover
      height: get-vw-desktop(241px)
      position: relative
      .blog-category
        background-color: $light-blue
        bottom: 0
        color: #ffffff
        font-family: Montserrat-Bold, sans-serif
        font-size: get-vw-desktop(12px)
        height: get-vw-desktop(30px)
        line-height: get-vw-desktop(30px)
        min-width: get-vw-desktop(92px)
        padding: 0 get-vw-desktop(10px)
        position: absolute
        text-align: center
        text-transform: uppercase
    .blog-text
      border: solid 1px #cfcfcf
      height: get-vw-desktop(189px)
      padding: get-vw-desktop(20px) get-vw-desktop(44px) 0 get-vw-desktop(44px)
      a
        text-decoration: none
      .blog-text-title
        color: #4d484a
        font-family: Montserrat-Bold, sans-serif
        font-size: get-vw-desktop(18px)
        line-height: get-vw-desktop(24px)
        margin: 0
      .blog-text-author
        color: #4d484a
        font-family: Montserrat-Bold, sans-serif
        font-size: get-vw-desktop(14px)
        line-height: get-vw-desktop(20px)
        opacity: 0.5
        margin: 0
        .blog-text-date, .blog-text-comments
          font-family: Montserrat-Regular, sans-serif
          padding-left: get-vw-desktop(7px)
      .blog-text-summary
        color: #4d484a
        font-family: Montserrat-Regular, sans-serif
        font-size: get-vw-desktop(14px)
        line-height: get-vw-desktop(20px)
        margin-top: get-vw-desktop(10px)
  #blog-pagination
    clear: both
    text-align: center
    .pagination
      margin: get-vw-desktop(60px) 0 get-vw-desktop(80px) 0
      li
        font-size: get-vw-desktop(16px)
        line-height: get-vw-desktop(21px)
        a
          background: $white
          color: #000
          height: get-vw-desktop(42px)
          padding-top: get-vw-desktop(10px)
          width: get-vw-desktop(41px)
        .pagination-active
          background: $light-blue
          color: $white
        .pagination-previous
          color: $pagination-grey
#blog-recommended-posts
  background-size: cover
  height: get-vw-desktop(450px)
  padding: 0
  position: relative
  .recommended-posts-overlay
    position: absolute
    width: 100%
    background: $blue-overlay
    height: 100%
  .recommended-posts-title
    color: $white
    font-family: Montserrat-Bold, sans-serif
    font-size: get-vw-desktop(24px)
    line-height: get-vw-desktop(36px)
    padding-top: get-vw-desktop(50px)
    text-align: center
  .swiper-container-blog-most-viewed
    height: get-vw-desktop(253px)
    margin-bottom: get-vw-desktop(71px)
    margin-top: get-vw-desktop(40px)
    position: initial
    width: get-vw-desktop(970px)
    .swiper-wrapper
      margin: 0 auto
      .swiper-slide
        width: get-vw-desktop(300px)
        .blog-most-viewed-image
          background-size: cover
          height: get-vw-desktop(129px)
          position: relative
          .blog-most-viewed-category
            background-color: $light-blue
            bottom: 0
            color: #ffffff
            font-family: Montserrat-Bold, sans-serif
            font-size: get-vw-desktop(12px)
            height: get-vw-desktop(25px)
            line-height: get-vw-desktop(25px)
            min-width: get-vw-desktop(101px)
            padding: 0 get-vw-desktop(10px)
            position: absolute
            text-align: center
            text-transform: uppercase
        .blog-most-viewed-text
          background: $white
          border: solid 1px #cfcfcf
          height: get-vw-desktop(124px)
          padding: get-vw-desktop(20px) 0 0 get-vw-desktop(25px)
          a
            text-decoration: none
            .blog-most-viewed-text-title
              color: #4d484a
              font-family: Montserrat-Bold, sans-serif
              font-size: get-vw-desktop(18px)
              line-height: get-vw-desktop(21px)
              margin: 0
          .blog-most-viewed-text-author
            color: #4d484a
            font-family: Montserrat-Bold, sans-serif
            font-size: get-vw-desktop(14px)
            line-height: get-vw-desktop(20px)
            opacity: 0.5
            width: get-vw-desktop(235px)
            margin: 0
            .blog-most-viewed-text-date, .blog-most-viewed-text-comments
              font-family: Montserrat-Regular, sans-serif
              padding-left: get-vw-desktop(5px)
    .swiper-button-prev, .swiper-button-next
      background-image: none
      color: $white
      font-size: get-vw-desktop(36px)
      height: get-vw-desktop(36px)
      text-align: center
      top: 54%
      width: get-vw-desktop(60px)
    .swiper-button-prev
      left: get-vw-desktop(125px)
    .swiper-button-next
      right: get-vw-desktop(125px)