#blog-list-categories
  background: $overlay
  height: 343px
  position: relative
  .blog-list-category-title, .blog-list-category-text
    line-height: 36px
    text-align: center
  .blog-list-category-title
    color: $white
    font-family: Montserrat-Regular, sans-serif
    font-size: 18px
    line-height: 30px
    margin-top: 50px
    opacity: 0.6
  .blog-list-category-text
    color: $white
    font-family: Montserrat-Bold, sans-serif
    font-size: 30px
    line-height: 30px
  .swiper-container-blog-categories
    height: 128px
    margin-bottom: 70px
    margin-top: 35px
    position: initial
    width: 768px
    .swiper-wrapper
      width: 800px
      .swiper-slide
        border-radius: 100%
        position: relative
        width: 128px
        .swiper-overlay
          background: $overlay-blue
          border-radius: 50%
          height: 100%
          position: absolute
          top: 0
          width: 100%
    .swiper-button-prev, .swiper-button-next
      background-image: none
      color: $white
      font-size: 36px
      height: 36px
      text-align: center
      top: 63%
      width: 60px
    .swiper-button-prev
      left: 230px
    .swiper-button-next
      right: 230px
.blog-list-triangle
  left: 50%
  position: relative
  top: -1px
  transform: translateX(-50%)
#blog-list
  background: $white
  .input-group
    border-collapse: separate
    border-bottom: 2px solid $select-grey
    display: table
    height: 48px
    margin-top: 69px
    position: relative
    width: 861px
    i
      border: none
      color: $search-icon-grey
      display: table-cell
      height: 17px
      padding-left: 11px
      padding-top: 8px
      vertical-align: middle
      width: 17px
    input[type="text"]
      border: none
      box-shadow: none
      font-family: Montserrat-Regular, sans-serif
      font-size: 16px
      height: 46px
      line-height: 15px
      padding-top: 15px
  .blog-search, .blog-select
    padding: 0
  .blog-filter
    border: solid 2px $select-grey
    color: $select-grey-text
    font-family: Montserrat-Regular, sans-serif
    font-size: 16px
    height: 48px
    margin-top: 69px
    width: 261px
  .blog-post
    height: 430px
    margin-top: 40px
    padding: 0
    width: 565px
    &:nth-child(odd)
      margin-right: 40px
    .blog-image
      height: 241px
      position: relative
      .blog-category
        background-color: $light-blue
        bottom: 0
        color: #ffffff
        font-family: Montserrat-Bold, sans-serif
        font-size: 12px
        height: 30px
        line-height: 30px
        min-width: 92px
        padding: 0 10px
        position: absolute
        text-align: center
        text-transform: uppercase
    .blog-text
      border: solid 1px #cfcfcf
      height: 189px
      padding: 20px 44px 0 44px
      .blog-text-title
        color: #4d484a
        font-family: Montserrat-Bold, sans-serif
        font-size: 18px
        line-height: 24px
      .blog-text-author
        color: #4d484a
        font-family: Montserrat-Bold, sans-serif
        font-size: 14px
        line-height: 20px
        opacity: 0.5
        .blog-text-date, .blog-text-comments
          font-family: Montserrat-Regular, sans-serif
          padding-left: 7px
      .blog-text-summary
        color: #4d484a
        font-family: Montserrat-Regular, sans-serif
        font-size: 14px
        line-height: 20px
        margin-top: 10px
  #blog-pagination
    clear: both
    text-align: center
    .pagination
      margin: 60px 0 80px 0
      li
        font-size: 16px
        line-height: 21px
        a
          background: #efefef
          color: #000
          height: 42px
          padding-top: 10px
          width: 41px
        .pagination-active
          background: $light-blue
          color: $white
        .pagination-previous
          color: $pagination-grey
#blog-recommended-posts
  height: 450px
  position: relative
  .recommended-posts-overlay
    position: absolute
    width: 100%
    background: $blue-overlay
    height: 100%
  .recommended-posts-title
    color: $white
    font-family: Montserrat-Bold, sans-serif
    font-size: 24px
    line-height: 36px
    padding-top: 50px
    text-align: center
  .swiper-container-blog-most-viewed
    height: 253px
    margin-bottom: 71px
    margin-top: 40px
    position: initial
    width: 970px
    .swiper-wrapper
      margin: 0 auto
      .swiper-slide
        width: 300px
        .blog-most-viewed-image
          height: 129px
          position: relative
          .blog-most-viewed-category
            background-color: $light-blue
            bottom: 0
            color: #ffffff
            font-family: Montserrat-Bold, sans-serif
            font-size: 12px
            height: 25px
            line-height: 25px
            min-width: 101px
            padding: 0 10px
            position: absolute
            text-align: center
            text-transform: uppercase
        .blog-most-viewed-text
          background: $white
          border: solid 1px #cfcfcf
          height: 124px
          padding: 20px 0 0 25px
          a
            text-decoration: none
            .blog-most-viewed-text-title
              color: #4d484a
              font-family: Montserrat-Bold, sans-serif
              font-size: 18px
              line-height: 21px
          .blog-most-viewed-text-author
            color: #4d484a
            font-family: Montserrat-Bold, sans-serif
            font-size: 14px
            line-height: 20px
            opacity: 0.5
            width: 235px
            .blog-most-viewed-text-date, .blog-most-viewed-text-comments
              font-family: Montserrat-Regular, sans-serif
              padding-left: 5px
    .swiper-button-prev, .swiper-button-next
      background-image: none
      color: $white
      font-size: 36px
      height: 36px
      text-align: center
      top: 54%
      width: 60px
    .swiper-button-prev
      left: 125px
    .swiper-button-next
      right: 125px