#blog-detail-breadcrumb
  padding: 3.4722222222222223vw 0 1.3888888888888888vw 0
  .blog-detail-breadcrumb-prev
    color: $white
    font-size: 1.3888888888888888vw
    height: 1.3888888888888888vw
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
    vertical-align: middle
    width: 1.3888888888888888vw
  .blog-detail-breadcrumb-category
    background-color: $light-blue
    color: $white
    display: inline-block
    font-family: Montserrat-Bold, sans-serif
    font-size: 0.8333333333333333vw
    height: 2.0833333333333335vw
    line-height: 2.0833333333333335vw
    min-width: 6.388888888888888vw
    text-align: center
    text-transform: uppercase
  .blog-detail-breadcrumb-title
    color: $grey
    display: inline-block
    font-family: Montserrat-Regular, sans-serif
    font-size: 0.8333333333333333vw
    margin-left: 0.6944444444444444vw
#blog-detail-hero
  height: 34.72222222222222vw
  .blog-detail-hero-image
    height: 100%
    position: relative
    .blog-detail-hero-author
      bottom: -4.861111111111111vw
      height: 9.722222222222221vw
      left: 50%
      position: absolute
      transform: translateX(-50%)
      width: 9.722222222222221vw
      z-index: 1
#blog-detail-content
  padding-top: 8.333333333333334vw
  .blog-detail-content-title
    color: $grey
    font-family: Montserrat-Bold, sans-serif
    font-size: 2.0833333333333335vw
    line-height: 2.7777777777777777vw
    margin-left: 6.944444444444445vw
  .blog-detail-content-author
    color: $grey
    font-family: Montserrat-Bold, sans-serif
    font-size: 1.25vw
    line-height: 1.7361111111111112vw
    margin: 0.3472222222222222vw 0 0 6.944444444444445vw
    opacity: 0.5
    .blog-detail-content-date
      color: $grey
      font-family: Montserrat-Regular, sans-serif
      font-size: 1.25vw
      line-height: 1.7361111111111112vw
      padding-left: 0.6944444444444444vw
  .blog-detail-content-text
    color: $grey
    font-family: Montserrat-Regular, sans-serif
    font-size: 1.1111111111111112vw
    line-height: 1.3888888888888888vw
    padding: 2.7777777777777777vw 6.944444444444445vw 4.166666666666667vw 6.944444444444445vw
    p
      padding-bottom: 1.0416666666666667vw
  .blog-detail-content-share
    height: 12.222222222222221vw
    .blog-detail-content-share-title
      color: $grey
      font-family: Montserrat-Regular, sans-serif
      font-size: 1.25vw
      margin-bottom: 1.3888888888888888vw
      text-align: center
    .blog-detail-content-share-list
      list-style: none
      text-align: center
      li
        display: inline-block
      img
        height: 3.75vw
        margin: 0 0.4861111111111111vw
        width: 3.75vw
.blog-detail-divider
  border: solid 1px $grey
  margin-bottom: 0
  margin-top: 0
  opacity: 0.3
  width: 67.36111111111111vw
#blog-detail-comments
  padding: 3.4722222222222223vw 0 6.944444444444445vw 0
  .blog-detail-comments-number
    color: $grey
    font-family: Montserrat-Bold, sans-serif
    font-size: 1.6666666666666665vw
    line-height: 2.5vw
    margin-bottom: 2.0833333333333335vw
    text-align: center
  .blog-detail-comments-post
    border: solid 2px $comments-grey
    border-radius: 0.41666666666666663vw
    margin: 0 auto 1.3888888888888888vw auto
    min-height: 13.472222222222221vw
    padding: 2.0833333333333335vw 2.7777777777777777vw 2.0833333333333335vw 2.4305555555555554vw
    width: 67.36111111111111vw
    .blog-detail-comments-post-author
      color: $light-blue
      display: inline-block
      font-family: Montserrat-Bold, sans-serif
      font-size: 1.1111111111111112vw
      line-height: 1.3888888888888888vw
      .blog-detail-comments-post-date
        color: $arrow-grey
        display: inline-block
        font-family: Montserrat-Regular, sans-serif
        font-size: 0.9722222222222222vw
        line-height: 1.3888888888888888vw
        margin-left: 0.6944444444444444vw
    .blog-detail-comments-post-text
      color: $grey
      font-family: Montserrat-Regular, sans-serif
      font-size: 1.1111111111111112vw
      line-height: 1.597222222222222vw
      margin: 0
      padding: 0.6944444444444444vw 0 1.3888888888888888vw 0
    .blog-detail-comments-post-reply
      font-family: Montserrat-Regular, sans-serif
      font-size: 0.9722222222222222vw
      line-height: 0.9722222222222222vw
      color: $arrow-grey
      i
        color: $arrow-grey
        font-size: 0.9027777777777778vw
        height: 0.9027777777777778vw
        margin-right: 0.3472222222222222vw
        width: 0.9722222222222222vw
  .blog-detail-comments-form
    background: $form-grey
    height: 33.81944444444444vw
    margin-bottom: 1.3888888888888888vw
    padding: 0 2.7777777777777777vw
    position: relative
    width: 67.36111111111111vw
    .close-icon
      position: absolute
      right: 1.3888888888888888vw
      top: 1.3888888888888888vw
    .blog-detail-comments-form-title
      color: $grey
      font-family: Montserrat-Bold, sans-serif
      font-size: 1.6666666666666665vw
      line-height: 2.5vw
      padding: 5.069444444444445vw 0 1px 0
      text-align: center
    .blog-detail-comments-form-subtitle
      color: $arrow-grey
      font-family: Montserrat-Regular, sans-serif
      font-size: 1.1111111111111112vw
      line-height: 1.0416666666666667vw
      opacity: 0.8
      text-align: center
    .comments-form
      text-align: center
      input[type="text"]
        border: solid 2px $comments-grey
        color: $arrow-grey
        display: inline-block
        font-family: Montserrat-Regular, sans-serif
        font-size: 1.1111111111111112vw
        height: 3.333333333333333vw
        line-height: 1.0416666666666667vw
        margin-right: 1.9444444444444444vw
        margin-top: 1.6666666666666665vw
        opacity: 0.8
        padding-left: 1.3888888888888888vw
        width: 29.72222222222222vw
      input[type="email"]
        border: solid 2px $comments-grey
        color: $arrow-grey
        display: inline-block
        font-family: Montserrat-Regular, sans-serif
        font-size: 1.1111111111111112vw
        height: 3.333333333333333vw
        line-height: 1.0416666666666667vw
        margin-top: 1.6666666666666665vw
        opacity: 0.8
        padding-left: 1.3888888888888888vw
        width: 29.72222222222222vw
      textarea
        border: solid 2px $comments-grey
        color: $arrow-grey
        font-family: Montserrat-Regular, sans-serif
        font-size: 1.1111111111111112vw
        height: 9.375vw
        line-height: 1.0416666666666667vw
        margin-top: 1.7361111111111112vw
        opacity: 0.8
        padding-left: 1.3888888888888888vw
        padding-top: 0.9722222222222222vw
    .comments-form-button
      background: $form-grey
      border: solid 2px $light-blue
      border-radius: 0.6944444444444444vw
      color: $light-blue
      font-family: Montserrat-Bold, sans-serif
      font-size: 1.25vw
      height: 3.4722222222222223vw
      line-height: 1.3888888888888888vw
      margin-top: 1.0416666666666667vw
      width: 22.916666666666668vw