// General
.container-mre
  width: get-vw-desktop(1170px)
  height: 100%

.no-padding
  padding: 0

.no-margin
  margin: 0
// END General

// Swiper General
html, body
  position: relative
  height: 100%

body
  background: $white-1
  font-family: Montserrat-Regular, sans-serif
  font-size: 14px
  color: $black
  margin: 0
  padding: 0

.swiper-container
  width: 100%
  height: get-vw-desktop(960px)

.swiper-slide
  text-align: center
  font-size: get-vw-desktop(18px)
  background: $white
  display: -webkit-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  -webkit-justify-content: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  -webkit-align-items: center
  align-items: center

.menu
  min-width: get-vw-desktop(100px)
  width: 70%
  max-width: get-vw-desktop(320px)
  height: auto
  background: rgba(255, 255, 255, 0.95)
  position: relative
  .mre-menu
    position: absolute
    top: get-vw-desktop(78px)
    left: 0
    list-style: none
    padding: 0
    width: 100%
    text-align: left
    .mre-menu-item
      border-bottom: 2px solid rgba(127, 129, 130, 0.15)
      padding: get-vw-desktop(26px) 0 0 get-vw-desktop(50px)
      height: get-vw-desktop(95px)
      font-family: 'Montserrat-Regular', sans-serif
      font-size: get-vw-desktop(24px)
      line-height: get-vw-desktop(40px)
      cursor: pointer
      a
        color: $grey-1
        &:hover
          text-decoration: none
    &:first-child
      border-top: 2px solid rgba(127, 129, 130, 0.15)
  .mre-menu-language
    width: 100%
    position: absolute
    bottom: get-vw-desktop(170px)
    left: 0
    height: get-vw-desktop(235px)
    text-align: center
    .mre-menu-language-text
      padding-top: get-vw-desktop(40px)
      font-family: 'Archivo', sans-serif
      font-size: get-vw-desktop(16px)
      line-height: get-vw-desktop(20px)
      margin: 0
      color: $grey-1
    .mre-menu-language-flag
      margin: get-vw-desktop(25px) get-vw-desktop(12.5px) 0 get-vw-desktop(12.5px)
      opacity: 0.4
      width: get-vw-desktop(50px)
      height: get-vw-desktop(50px)
      cursor: pointer
    .language-flag-active
      opacity: 1
  .mre-menu-social
    display: none
    height: get-vw-desktop(63px)
    position: absolute
    bottom: 0
    width: 100%
    .menu-social-icons
      list-style: none
      font-size: get-vw-desktop(22px)
      padding: 0
      .menu-social-icon
        height: get-vw-desktop(38px)
        width: get-vw-desktop(38px)
        display: inline-block
        a
          color: $grey-1

.content
  width: 100%

.menu-button
  position: absolute
  top: 0
  left: 0
  padding: get-vw-desktop(27px) 0 get-vw-desktop(15px) 0
  height: get-vw-desktop(80px)
  cursor: pointer
  -webkit-transition: .3s
  transition: .3s
  background-color: $white
  z-index: 2
  width: get-vw-desktop(80px)

.menu-button .bar:nth-of-type(1)
  margin-top: 0

.menu-button .bar:nth-of-type(3)
  margin-bottom: 0

.bar
  position: relative
  display: block
  width: get-vw-desktop(39px)
  height: get-vw-desktop(4px)
  margin: get-vw-desktop(6px) auto
  background-color: $light-blue
  border-radius: get-vw-desktop(10px)
  -webkit-transition: .3s
  transition: .3s

.menu-button:hover .bar:nth-of-type(1)
  -webkit-transform: translateY(1.5px) rotate(-4.5deg)
  -ms-transform: translateY(1.5px) rotate(-4.5deg)
  transform: translateY(1.5px) rotate(-4.5deg)

.menu-button:hover .bar:nth-of-type(2)
  opacity: .9

.menu-button:hover .bar:nth-of-type(3)
  -webkit-transform: translateY(-1.5px) rotate(4.5deg)
  -ms-transform: translateY(-1.5px) rotate(4.5deg)
  transform: translateY(-1.5px) rotate(4.5deg)

.cross .bar:nth-of-type(1)
  -webkit-transform: translateY(get-vw-desktop(15px)) rotate(-45deg)
  -ms-transform: translateY(get-vw-desktop(15px)) rotate(-45deg)
  transform: translateY(get-vw-desktop(15px)) rotate(-45deg)

.cross .bar:nth-of-type(2)
  opacity: 0

.cross .bar:nth-of-type(3)
  -webkit-transform: translateY(get-vw-desktop(-15px)) rotate(45deg)
  -ms-transform: translateY(get-vw-desktop(-15px)) rotate(45deg)
  transform: translateY(get-vw-desktop(-15px)) rotate(45deg)

.cross:hover .bar:nth-of-type(1)
  -webkit-transform: translateY(get-vw-desktop(-13.5px)) rotate(-40.5deg)
  -ms-transform: translateY(get-vw-desktop(-13.5px)) rotate(-40.5deg)
  transform: translateY(get-vw-desktop(-13.5px)) rotate(-40.5deg)

.cross:hover .bar:nth-of-type(2)
  opacity: .1

.cross:hover .bar:nth-of-type(3)
  -webkit-transform: translateY(get-vw-desktop(-13.5px)) rotate(40.5deg)
  -ms-transform: translateY(get-vw-desktop(-13.5px)) rotate(40.5deg)
  transform: translateY(get-vw-desktop(-13.5px)) rotate(40.5deg)
// END Swiper General

// Header
#mre-header
  .logo-header
    top: 0
    height: get-vw-desktop(80px)
    left: get-vw-desktop(80px)
    position: absolute
    width: get-vw-desktop(820px)
    background-color: $white
    z-index: 2
    .img-div
      width: get-vw-desktop(360px)
      position: relative
      height: get-vw-desktop(80px)
      img
        width: get-vw-desktop(145px)
        height: get-vw-desktop(50px)
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
  .social-header
    top: 0
    left: get-vw-desktop(900px)
    height: get-vw-desktop(80px)
    position: absolute
    width: get-vw-desktop(540px)
    background-color: $white
    z-index: 2
    .social-icons
      height: get-vw-desktop(33.9px)
      position: absolute
      list-style: none
      right: get-vw-desktop(50.3px)
      top: get-vw-desktop(23.3px)
      .social-icon
        position: relative
        height: 100%
        width: get-vw-desktop(33.9px)
        border-radius: 50%
        background: $white-2
        display: inline-block
        margin-right: get-vw-desktop(12px)
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3)
        a
          color: $light-blue
          i
            font-size: get-vw-desktop(22px)
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
  .swiper-container-hero
    position: relative
    padding-top: get-vw-desktop(80px)
    .swiper-slide
      background-size: cover
      position: relative
      .slide-overlay
        position: absolute
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.4)
      .slide-text
        position: absolute
        top: get-vw-desktop(315px)
        left: 50%
        transform: translateX(-50%)
        h2
          font-family: Montserrat-Regular, sans-serif
          font-size: get-vw-desktop(40px)
          line-height: get-vw-desktop(40px)
          text-align: center
          color: $white
          text-shadow: 0 2px get-vw-desktop(10px) rgba(0, 0, 0, 0.5)
          margin: 0
        h3
          margin-top: get-vw-desktop(10px)
          font-family: Montserrat-Bold, sans-serif
          font-size: get-vw-desktop(80px)
          line-height: get-vw-desktop(80px)
          text-align: center
          color: $white
          text-shadow: 0 2px get-vw-desktop(10px) rgba(0, 0, 0, 0.5)
    .swiper-button-prev, .swiper-button-next
      background-image: none
      color: $white
      font-size: get-vw-desktop(36px)
      height: get-vw-desktop(36px)
      text-align: center
      top: get-vw-desktop(480px)
      width: get-vw-desktop(60px)
    .swiper-button-prev
      left: get-vw-desktop(135px)
    .swiper-button-next
      right: get-vw-desktop(135px)
  .hero-button
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    z-index: 1
    width: get-vw-desktop(94px)
    height: get-vw-desktop(42px)
// END Header

// About Us
#mre-about-us
  height: get-vw-desktop(800px)
  background-size: cover
  text-align: center
  .about-us-title
    padding-top: get-vw-desktop(50px)
    opacity: 0.6
    font-family: Montserrat-Regular, sans-serif
    font-size: get-vw-desktop(18px)
    color: $white
  .about-us-sub-first
    padding-top: get-vw-desktop(10px)
    font-size: get-vw-desktop(36px)
    line-height: get-vw-desktop(40px)
    font-family: Montserrat-Regular, sans-serif
    color: $white
  .about-us-sub-second
    font-size: get-vw-desktop(36px)
    line-height: get-vw-desktop(40px)
    font-family: Montserrat-Bold, sans-serif
    color: $lighter-blue-2
  .about-us-image
    margin: get-vw-desktop(40px) 0 get-vw-desktop(42px) 0
    width: get-vw-desktop(140px)
    height: get-vw-desktop(140px)
    border-radius: 50%
  .about-us-text
    font-family: Montserrat-Regular, sans-serif
    font-size: get-vw-desktop(20px)
    line-height: get-vw-desktop(28px)
    color: white
    width: get-vw-desktop(767px)
    margin: 0 auto
  .about-us-numbers
    list-style: none
    height: get-vw-desktop(140px)
    padding: get-vw-desktop(40px) get-vw-desktop(38px)
    width: get-vw-desktop(970px)
    margin: get-vw-desktop(50px) auto 0
    border-radius: get-vw-desktop(18px)
    background-color: rgba(247, 247, 247, 0.1)
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3)
    li
      display: inline-block
      width: get-vw-desktop(210px)
      margin: 0 get-vw-desktop(37.5px)
      .numbers
        font-size: get-vw-desktop(45px)
        line-height: get-vw-desktop(30px)
        font-family: Montserrat-Bold, sans-serif
        color: $white
      .title
        font-size: get-vw-desktop(25px)
        line-height: get-vw-desktop(30px)
        font-family: Montserrat-Regular, sans-serif
        color: $white
// END About Us

// Partners
#mre-partners
  height: get-vw-desktop(700px)
  background: blue
  text-align: center
  position: relative
  .overlay-left, .overlay-right
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  .overlay-left
    background: rgba(9, 118, 209, 0.85)
  .overlay-right
    background: rgba(0, 68, 126, 0.85)
  .partner-left, .partner-right
    height: 100%
    background-size: cover
  .partners-title-first
    margin-top: get-vw-desktop(244px)
    font-family: Montserrat-Regular, sans-serif
    font-size: get-vw-desktop(25px)
    line-height: get-vw-desktop(30px)
    color: $white
  .partners-title-second
    font-family: Montserrat-Bold, sans-serif
    font-size: get-vw-desktop(45px)
    line-height: get-vw-desktop(40px)
    color: $white
    margin: 0
  .partner-left
    img
      width: get-vw-desktop(110px)
      height: get-vw-desktop(117px)
      margin-top: get-vw-desktop(20px)
  .partner-right
    img
      width: get-vw-desktop(212px)
      height: get-vw-desktop(71px)
      margin-top: get-vw-desktop(43px)
// END Partners

// Offices
#mre-offices
  height: get-vw-desktop(450px)
  background-size: cover
  .swiper-container-flags
    height: 100%
    text-align: center
  h4
    margin: get-vw-desktop(90px) 0 get-vw-desktop(40px) 0
    font-family: Montserrat-Regular, sans-serif
    font-size: get-vw-desktop(36px)
    line-height: get-vw-desktop(40px)
    color: $white
    strong
      font-family: Montserrat-Bold, sans-serif
  .flags-indicators
    .flag-image
      height: get-vw-desktop(60px)
      margin: 0 get-vw-desktop(20px) get-vw-desktop(10px) get-vw-desktop(20px)
      width: get-vw-desktop(60px)
      cursor: pointer
    .flag-image-opacity
      opacity: .6
  .swiper-wrapper
    width: 100%
    .swiper-slide
      background: transparent
      margin: 0 auto
      height: get-vw-desktop(150px)
      width: 100%
      .office-detail
        width: get-vw-desktop(302px)
        margin: 0 get-vw-desktop(22px)
        h5
          color: $white
          font-family: Montserrat-Regular, sans-serif
          font-size: get-vw-desktop(16px)
          line-height: get-vw-desktop(25px)
          margin: 0
        span
          font-family: Montserrat-Bold, sans-serif
// END Offices

// Contact Us
.screen-reader-response
  display: none

.wpcf7-response-output
  top: get-vw-desktop(-25px)
  left: get-vw-desktop(30px)
  position: absolute

.al-contact-div
  height: auto
  background-repeat: no-repeat
  background-position-y: bottom
  background-size: cover
.al-contact-text
  color: $white
  font-size: get-vw-desktop(36px)
  margin-top: get-vw-desktop(60px)
  line-height: get-vw-desktop(46px)
  margin-bottom: get-vw-desktop(3px)
  font-family: Montserrat-Regular, sans-serif
.al-contact-text-bold
  color: $white
  font-size: get-vw-desktop(36px)
  line-height: get-vw-desktop(46px)
  font-family: Montserrat-Bold, sans-serif
  margin: 0

.al-phone-box
  border-radius: get-vw-desktop(18px)
  max-width: get-vw-desktop(361px)
  max-height: get-vw-desktop(272px)
  margin-top: get-vw-desktop(40px)
  padding: get-vw-desktop(40px) get-vw-desktop(34px)
  background-color: $lighter-blue-2
  box-shadow: 0 1px get-vw-desktop(10px) 0 rgba($black, 0.3)
  -moz-box-shadow: 0 1px get-vw-desktop(10px) 0 rgba($black, 0.3)
  -webkit-box-shadow: 0 1px get-vw-desktop(10px) 0 rgba($black, 0.3)
  img
    width: get-vw-desktop(72px)
    height: get-vw-desktop(64px)
  p
    color: $dark-blue
    padding-top: get-vw-desktop(10px)
    line-height: get-vw-desktop(34px)
    font-size: get-vw-desktop(24px)
    padding-bottom: get-vw-desktop(20px)
    font-family: Montserrat-Regular, sans-serif
    strong
      font-family: Montserrat-Bold, sans-serif

a.al-phone-num
  color: $dark-blue
  cursor: pointer
  font-size: get-vw-desktop(36px)
  line-height: get-vw-desktop(30px)
  font-family: Montserrat-Black, sans-serif
  &:hover
    text-decoration: none

.al-contact-form-div
  margin-top: get-vw-desktop(40px)
  display: inline-block

.flag-image-opacity
  opacity: .6

.wpcf7-form-control-wrap
  margin-bottom: get-vw-desktop(20px)

.wpcf7-form
  p
    margin-right: get-vw-desktop(20px)
    display: inline-block
  input[type="text"], input[type="email"], input[type="tel"], select
    width: 100%
    height: get-vw-desktop(48px)
    color: $white-3
    padding: 0 get-vw-desktop(23px)
    font-size: get-vw-desktop(16px)
    line-height: get-vw-desktop(16px)
    border-radius: get-vw-desktop(4px)
    display: inline-block
    background-color: $dark-blue
    border: 1px solid rgba(207, 207, 207, 0.5)
    font-family: Montserrat-Regular, sans-serif
    margin-bottom: get-vw-desktop(20px)
    &::-webkit-input-placeholder /* Chrome/Opera/Safari */
      color: $white-3
    &::-moz-placeholder /* Firefox 19+ */
      color: $white-3
    &:-ms-input-placeholder /* IE 10+ */
      color: $white-3
    &:-moz-placeholder /* Firefox 18- */
      color: $white-3
  textarea
    width: 100%
    color: $white-3
    font-size: get-vw-desktop(16px)
    max-height: get-vw-desktop(137px)
    line-height: get-vw-desktop(16px)
    padding: get-vw-desktop(14px) get-vw-desktop(23px)
    border-radius: get-vw-desktop(6px)
    background-color: $dark-blue
    border: 1px solid rgba(207, 207, 207, 0.5)
    font-family: Montserrat-Regular, sans-serif
    &::-webkit-input-placeholder /* Chrome/Opera/Safari */
      color: $white-3
    &::-moz-placeholder /* Firefox 19+ */
      color: $white-3
    &:-ms-input-placeholder /* IE 10+ */
      color: $white-3
    &:-moz-placeholder /* Firefox 18- */
      color: $white-3
  option
    padding-left: get-vw-desktop(20px)
  .your-name, .your-phone
    margin-right: get-vw-desktop(20px)
  .wpcf7-submit
    color: $white
    border-radius: get-vw-desktop(10px)
    height: get-vw-desktop(50px)
    width: get-vw-desktop(216px)
    font-size: get-vw-desktop(18px)
    margin: get-vw-desktop(40px) 0 get-vw-desktop(50px) 0
    padding: 0px get-vw-desktop(74px)
    line-height: get-vw-desktop(20px)
    border: solid 2px $white
    background-color: transparent
    font-family: Montserrat-Bold, sans-serif
    &:hover
      background-color: rgba($white, .7)
// END Contact Us

// Footer
#mre-footer
  text-align: center
  box-shadow: 0 -8px 10px 0 rgba(0, 0, 0, 0.2)
  height: get-vw-desktop(233px)
  position: relative
  .mre-footer-elements
    width: get-vw-desktop(445px)
    margin: 0 auto
    .mre-footer-logo
      height: get-vw-desktop(83px)
      margin: get-vw-desktop(50px) 0 get-vw-desktop(10px) 0
      width: get-vw-desktop(240px)
    .mre-footer-copyright
      color: $search-icon-grey
      font-family: Montserrat-Regular, sans-serif
      font-size: get-vw-desktop(14px)
      line-height: get-vw-desktop(20px)
      margin: 0
    a
      color: $search-icon-grey
      font-family: Montserrat-Bold, sans-serif
      font-size: get-vw-desktop(14px)
      line-height: get-vw-desktop(20px)
      text-decoration: underline
  .mre-footer-go-top
    cursor: pointer
    position: fixed
    right: get-vw-desktop(140px)
    bottom: get-vw-desktop(143px)
    z-index: 1
// END Footer