// General
.container-mre
  width: get-vw-desktop(1170px)
  height: 100%

.no-padding
  padding: 0

.no-margin
  margin: 0
// END General

// Swiper General
html, body
  height: 100%

body
  background: $white-1
  font-family: Montserrat-Regular, sans-serif
  font-size: 14px
  color: $black
  margin: 0
  padding: 0

.swiper-container-menu
  width: 100%
  height: auto

.swiper-slide
  font-size: get-vw-desktop(18px)
  background: $white
  display: block
  -webkit-box-pack: center
  -ms-flex-pack: center
  -webkit-justify-content: center
  justify-content: center
  -webkit-box-align: center
  -ms-flex-align: center
  -webkit-align-items: center
  align-items: center

.menu
  min-width: get-vw-desktop(100px)
  width: 100%
  max-width: get-vw-desktop(397px)
  height: get-vw-desktop(960px)
  background: rgba(255, 255, 255, 0.95)
  position: relative
  .mre-menu
    position: absolute
    top: get-vw-desktop(80px)
    left: 0
    list-style: none
    padding: 0
    width: 100%
    text-align: left
    .mre-menu-item
      border-bottom: 2px solid rgba(127, 129, 130, 0.15)
      padding: get-vw-desktop(30px) 0 0 get-vw-desktop(50px)
      height: get-vw-desktop(84px)
      font-family: 'Montserrat-Regular', sans-serif
      font-size: get-vw-desktop(20px)
      line-height: get-vw-desktop(24px)
      cursor: pointer
      a
        opacity: 0.7
        color: $grey-1
        &:hover
          text-decoration: none
          opacity: 1
    &:first-child
      border-top: 2px solid rgba(127, 129, 130, 0.15)
  .mre-menu-language
    width: 100%
    position: absolute
    bottom: get-vw-desktop(150px)
    left: 0
    height: get-vw-desktop(235px)
    text-align: center
    .mre-menu-language-text
      padding-top: get-vw-desktop(50px)
      font-family: 'Archivo', sans-serif
      font-size: get-vw-desktop(16px)
      line-height: get-vw-desktop(20px)
      margin: 0
      color: $grey-1
    .mre-menu-language-flag
      margin: get-vw-desktop(25px) get-vw-desktop(12.5px) 0 get-vw-desktop(12.5px)
      opacity: 0.4
      width: get-vw-desktop(50px)
      height: get-vw-desktop(50px)
      cursor: pointer
    .language-flag-active
      opacity: 1
  .mre-menu-social
    display: none
    height: get-vw-desktop(63px)
    position: absolute
    bottom: 0
    width: 100%
    left: 0
    .menu-social-icons
      list-style: none
      font-size: get-vw-desktop(22px)
      padding: 0
      .menu-social-icon
        height: get-vw-desktop(38px)
        width: get-vw-desktop(38px)
        display: inline-block
        a
          color: $grey-1

.content
  width: 100%

.menu-bar
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2)
  height: get-vw-desktop(80px)

.menu-button
  position: absolute
  top: 0
  left: 0
  padding: get-vw-desktop(27px) 0 get-vw-desktop(15px) 0
  height: get-vw-desktop(80px)
  cursor: pointer
  -webkit-transition: .3s
  transition: .3s
  background-color: $white
  z-index: 2
  width: get-vw-desktop(80px)

.menu-button .bar:nth-of-type(1)
  margin-top: 0

.menu-button .bar:nth-of-type(3)
  margin-bottom: 0

.bar
  position: relative
  display: block
  width: get-vw-desktop(39px)
  height: get-vw-desktop(4px)
  margin: get-vw-desktop(6px) auto
  background-color: $light-blue
  border-radius: get-vw-desktop(10px)
  -webkit-transition: .3s
  transition: .3s

.menu-button:hover .bar:nth-of-type(1)
  -webkit-transform: translateY(1.5px) rotate(-4.5deg)
  -ms-transform: translateY(1.5px) rotate(-4.5deg)
  transform: translateY(1.5px) rotate(-4.5deg)

.menu-button:hover .bar:nth-of-type(2)
  opacity: .9

.menu-button:hover .bar:nth-of-type(3)
  -webkit-transform: translateY(-1.5px) rotate(4.5deg)
  -ms-transform: translateY(-1.5px) rotate(4.5deg)
  transform: translateY(-1.5px) rotate(4.5deg)

.cross .bar:nth-of-type(1)
  -webkit-transform: translateY(get-vw-desktop(15px)) rotate(-45deg)
  -ms-transform: translateY(get-vw-desktop(15px)) rotate(-45deg)
  transform: translateY(get-vw-desktop(15px)) rotate(-45deg)

.cross .bar:nth-of-type(2)
  opacity: 0

.cross .bar:nth-of-type(3)
  -webkit-transform: translateY(get-vw-desktop(-15px)) rotate(45deg)
  -ms-transform: translateY(get-vw-desktop(-15px)) rotate(45deg)
  transform: translateY(get-vw-desktop(-15px)) rotate(45deg)

.cross:hover .bar:nth-of-type(1)
  -webkit-transform: translateY(get-vw-desktop(-13.5px)) rotate(-40.5deg)
  -ms-transform: translateY(get-vw-desktop(-13.5px)) rotate(-40.5deg)
  transform: translateY(get-vw-desktop(-13.5px)) rotate(-40.5deg)

.cross:hover .bar:nth-of-type(2)
  opacity: .1

.cross:hover .bar:nth-of-type(3)
  -webkit-transform: translateY(get-vw-desktop(-13.5px)) rotate(40.5deg)
  -ms-transform: translateY(get-vw-desktop(-13.5px)) rotate(40.5deg)
  transform: translateY(get-vw-desktop(-13.5px)) rotate(40.5deg)
// END Swiper General

// Header
#mre-header
  .logo-header
    top: 0
    height: get-vw-desktop(80px)
    left: get-vw-desktop(80px)
    position: absolute
    width: get-vw-desktop(820px)
    background-color: $white
    z-index: 2
    .img-div
      width: get-vw-desktop(360px)
      position: relative
      height: get-vw-desktop(80px)
      img
        width: auto
        height: get-vw-desktop(51px)
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
  .social-header
    top: 0
    left: get-vw-desktop(900px)
    height: get-vw-desktop(80px)
    position: absolute
    width: get-vw-desktop(540px)
    background-color: $white
    z-index: 2
    .social-icons
      height: get-vw-desktop(33.9px)
      position: absolute
      list-style: none
      right: get-vw-desktop(50.3px)
      top: get-vw-desktop(23.3px)
      .social-icon
        position: relative
        height: 100%
        width: get-vw-desktop(33.9px)
        border-radius: 50%
        background: $white-2
        display: inline-block
        margin-right: get-vw-desktop(12px)
        &:hover
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3)
        a
          color: $light-blue
          i
            font-size: get-vw-desktop(22px)
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
  .swiper-container-hero
    position: relative
    margin-top: get-vw-desktop(80px)
    .swiper-slide
      height: get-vw-desktop(880px)
      background-size: cover
      position: relative
      .slide-overlay
        position: absolute
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.4)
        left: 0
      .slide-text
        position: absolute
        top: get-vw-desktop(315px)
        left: 50%
        transform: translateX(-50%)
        h2
          font-family: Montserrat-Regular, sans-serif
          font-size: get-vw-desktop(40px)
          line-height: get-vw-desktop(40px)
          text-align: center
          color: $white
          text-shadow: 0 2px get-vw-desktop(10px) rgba(0, 0, 0, 0.5)
          margin: 0
        h3
          margin-top: get-vw-desktop(10px)
          font-family: Montserrat-Bold, sans-serif
          font-size: get-vw-desktop(80px)
          line-height: get-vw-desktop(80px)
          text-align: center
          color: $white
          text-shadow: 0 2px get-vw-desktop(10px) rgba(0, 0, 0, 0.5)
    .swiper-button-prev, .swiper-button-next
      background-image: none
      color: $white
      font-size: get-vw-desktop(36px)
      height: get-vw-desktop(36px)
      text-align: center
      top: get-vw-desktop(375px)
      width: get-vw-desktop(60px)
    .swiper-button-prev
      left: get-vw-desktop(135px)
    .swiper-button-next
      right: get-vw-desktop(135px)
  .hero-button
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    z-index: 1
    width: get-vw-desktop(94px)
    height: get-vw-desktop(42px)
    cursor: pointer
// END Header

// About Us
#mre-about-us
  position: relative
  height: get-vw-desktop(721px) 
  background-size: cover
  text-align: center
  .overlay
    background: rgba(0, 0, 0, 0.83)
    position: absolute
    height: 100%
    width: 100%
    .about-us-image
      margin: get-vw-desktop(70px) 0 get-vw-desktop(36px) 0
      width: auto
      height: get-vw-desktop(105px)
    .about-us-text
      font-family: Montserrat-Regular, sans-serif
      font-size: get-vw-desktop(20px)
      line-height: get-vw-desktop(30px)
      color: $dark-white
      width: get-vw-desktop(767px)
      margin: 0 auto
    .about-us-numbers
      list-style: none
      height: get-vw-desktop(140px)
      padding: get-vw-desktop(40px) get-vw-desktop(38px)
      width: get-vw-desktop(970px)
      margin: get-vw-desktop(40px) auto get-vw-desktop(58px)
      border-radius: get-vw-desktop(18px)
      background-color: rgba(247, 247, 247, 0.1)
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3)
      li
        display: inline-block
        width: get-vw-desktop(210px)
        margin: 0 get-vw-desktop(37.5px)
        .numbers
          font-size: get-vw-desktop(45px)
          line-height: get-vw-desktop(30px)
          font-family: Montserrat-Bold, sans-serif
          color: $white
        .title
          font-size: get-vw-desktop(25px)
          line-height: get-vw-desktop(30px)
          font-family: Montserrat-Regular, sans-serif
          color: $white
    .about-us-button
      font-family: Montserrat-Bold, sans-serif
      width: get-vw-desktop(216px)
      height: get-vw-desktop(50px)
      border-radius: get-vw-desktop(10px)
      border: solid 2px $white
      padding: get-vw-desktop(12px) get-vw-desktop(69px)
      color: $white
      font-size: get-vw-desktop(18px)
      line-height: get-vw-desktop(20px)
      &:hover
        text-decoration: none
        background-color: rgba(255, 255, 255, 0.15)
// END About Us

// Partners
#mre-partners
  height: get-vw-desktop(700px)
  text-align: center
  position: relative
  .overlay-left, .overlay-right
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  .overlay-left
    border-right: 4px solid $white
    background: rgba(255, 255, 255, 0.7)
    &:hover
      background: rgba(255, 255, 255, 0.9)
  .overlay-right
    border-left: 4px solid $white
    background: rgba(255, 255, 255, 0.7)
    &:hover
      background: rgba(255, 255, 255, 0.9)
  .partner-left, .partner-right
    height: 100%
    background-size: cover
  h3
    margin-top: get-vw-desktop(244px)
    font-family: Montserrat-Regular, sans-serif
    font-size: get-vw-desktop(25px)
    line-height: get-vw-desktop(30px)
    color: $grey
  h2
    font-family: Montserrat-Bold, sans-serif
    font-size: get-vw-desktop(45px)
    line-height: get-vw-desktop(40px)
    color: $grey
    margin: 0
  .partner-left
    img
      width: get-vw-desktop(212px)
      height: get-vw-desktop(71px)
      margin-top: get-vw-desktop(46px)
  .partner-right
    img
      width: get-vw-desktop(110px)
      height: get-vw-desktop(117px)
      margin-top: get-vw-desktop(30px)
// END Partners

// Offices
#mre-offices
  height: get-vw-desktop(450px)
  background-size: cover
  .swiper-container-flags
    height: 100%
    text-align: center
  h4
    margin: get-vw-desktop(90px) 0 get-vw-desktop(40px) 0
    font-family: Montserrat-Regular, sans-serif
    font-size: get-vw-desktop(36px)
    line-height: get-vw-desktop(40px)
    color: $white
    strong
      font-family: Montserrat-Bold, sans-serif
  .flags-indicators
    .flag-image
      height: get-vw-desktop(60px)
      margin: 0 get-vw-desktop(20px) get-vw-desktop(30px) get-vw-desktop(20px)
      width: get-vw-desktop(60px)
      cursor: pointer
      background-repeat: no-repeat
      background-size: cover
      background-position: center center
      border-radius: 50%
      display: inline-block
    .flag-image-opacity
      opacity: .6
  .swiper-wrapper
    width: 100%
    .swiper-slide
      background: transparent
      margin: 0 auto
      height: get-vw-desktop(150px)
      width: 100%
      .office-detail
        display: inline-block
        width: get-vw-desktop(375px)
        margin: 0 get-vw-desktop(22px)
        h5
          color: $white
          font-family: Montserrat-Regular, sans-serif
          font-size: get-vw-desktop(16px)
          line-height: get-vw-desktop(25px)
          margin: 0
        span
          font-family: Montserrat-Bold, sans-serif
// END Offices

// Contact Us
.screen-reader-response
  display: none

.wpcf7-response-output
  top: get-vw-desktop(-25px)
  left: get-vw-desktop(30px)
  position: absolute

.al-contact-div
  height: auto
  background-repeat: no-repeat
  background-position-y: bottom
  background-size: contain
  background-color: $white
.overlay
  background: transparent
  position: absolute
  width: 100%
  height: 100%
.al-contact-text
  color: $grey-2
  font-size: get-vw-desktop(36px)
  margin-top: get-vw-desktop(60px)
  line-height: get-vw-desktop(46px)
  margin-bottom: get-vw-desktop(3px)
  font-family: Montserrat-Regular, sans-serif
.al-contact-text-bold
  color: $grey-2
  font-size: get-vw-desktop(36px)
  line-height: get-vw-desktop(46px)
  font-family: Montserrat-Bold, sans-serif
  margin-bottom: get-vw-desktop(20px)

.al-phone-box
  border-radius: get-vw-desktop(18px)
  max-width: get-vw-desktop(361px)
  max-height: get-vw-desktop(272px)
  margin-top: get-vw-desktop(40px)
  padding: get-vw-desktop(40px) get-vw-desktop(34px)
  background-color: $white
  box-shadow: 0 1px get-vw-desktop(10px) 0 rgba($black, 0.3)
  -moz-box-shadow: 0 1px get-vw-desktop(10px) 0 rgba($black, 0.3)
  -webkit-box-shadow: 0 1px get-vw-desktop(10px) 0 rgba($black, 0.3)
  img
    width: get-vw-desktop(72px)
    height: get-vw-desktop(64px)
  p
    color: $grey-2
    padding-top: get-vw-desktop(10px)
    line-height: get-vw-desktop(34px)
    font-size: get-vw-desktop(24px)
    padding-bottom: get-vw-desktop(20px)
    font-family: Montserrat-Regular, sans-serif
    strong
      font-family: Montserrat-Bold, sans-serif

a.al-phone-num
  color: $grey-2
  cursor: pointer
  font-size: get-vw-desktop(36px)
  line-height: get-vw-desktop(30px)
  font-family: Montserrat-Black, sans-serif
  &:hover
    text-decoration: none

.al-contact-form-div
  margin-top: get-vw-desktop(40px)
  display: inline-block

.flag-image-opacity
  opacity: .6

.wpcf7-form-control-wrap
  margin-bottom: get-vw-desktop(20px)

.wpcf7-form
  p
    margin-right: get-vw-desktop(20px)
    display: inline-block
  input[type="text"], input[type="email"], input[type="tel"], select
    width: 100%
    height: get-vw-desktop(48px)
    color: $arrow-grey
    padding: 0 get-vw-desktop(23px)
    font-size: get-vw-desktop(16px)
    line-height: get-vw-desktop(16px)
    border-radius: get-vw-desktop(4px)
    display: inline-block
    background-color: $white
    border: 1px solid rgba(143, 143, 143, 0.5)
    font-family: Montserrat-Regular, sans-serif
    margin-bottom: get-vw-desktop(20px)
    &::-webkit-input-placeholder /* Chrome/Opera/Safari */
      color: $arrow-grey
    &::-moz-placeholder /* Firefox 19+ */
      color: $arrow-grey
    &:-ms-input-placeholder /* IE 10+ */
      color: $arrow-grey
    &:-moz-placeholder /* Firefox 18- */
      color: $arrow-grey
  select
    -webkit-appearance: none
    -moz-appearance: none
    position: relative
    background: $white url(assets/form-caret-down.png) 100% 50% no-repeat
  textarea
    width: 100%
    color: $grey-2
    resize: none
    font-size: get-vw-desktop(16px)
    max-height: get-vw-desktop(137px)
    line-height: get-vw-desktop(16px)
    padding: get-vw-desktop(14px) get-vw-desktop(23px)
    border-radius: get-vw-desktop(6px)
    background-color: $white
    border: 1px solid rgba(143, 143, 143, 0.5)
    font-family: Montserrat-Regular, sans-serif
    &::-webkit-input-placeholder /* Chrome/Opera/Safari */
      color: $arrow-grey
    &::-moz-placeholder /* Firefox 19+ */
      color: $arrow-grey
    &:-ms-input-placeholder /* IE 10+ */
      color: $arrow-grey
    &:-moz-placeholder /* Firefox 18- */
      color: $arrow-grey
  option
    padding-left: get-vw-desktop(20px)
  .your-name, .your-phone
    margin-right: get-vw-desktop(20px)
  .wpcf7-submit
    color: $grey-2
    border-radius: get-vw-desktop(10px)
    height: get-vw-desktop(50px)
    width: get-vw-desktop(216px)
    font-size: get-vw-desktop(18px)
    margin: get-vw-desktop(40px) 0 get-vw-desktop(50px) 0
    padding: 0px get-vw-desktop(74px)
    line-height: get-vw-desktop(20px)
    border: solid 2px $grey-2
    background-color: transparent
    font-family: Montserrat-Bold, sans-serif
    &:hover
      background-color: rgba(255, 255, 255, 0.15)
// END Contact Us

// Footer
#mre-footer
  text-align: center
  box-shadow: 0 -8px 10px 0 rgba(0, 0, 0, 0.2)
  height: get-vw-desktop(233px)
  position: relative
  background-color: $white !important
  .mre-footer-elements
    width: get-vw-desktop(445px)
    margin: 0 auto
    .mre-footer-logo
      height: get-vw-desktop(83px)
      margin: get-vw-desktop(50px) 0 get-vw-desktop(10px) 0
      width: auto
    .mre-footer-copyright
      color: $search-icon-grey
      font-family: Montserrat-Regular, sans-serif
      font-size: get-vw-desktop(14px)
      line-height: get-vw-desktop(20px)
      margin: 0
    a
      color: $search-icon-grey
      font-family: Montserrat-Bold, sans-serif
      font-size: get-vw-desktop(14px)
      line-height: get-vw-desktop(20px)
      text-decoration: underline
  .mre-footer-go-top
    cursor: pointer
    position: absolute
    right: get-vw-desktop(140px)
    top: get-vw-desktop(40px)
    z-index: 100 
// END Footer

#nav-icon4
  width: 39px
  height: 45px
  left: 0
  right: 0
  top: 32%
  bottom: 0
  margin: auto
  text-align: center
  position: absolute
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .5s ease-in-out
  -moz-transition: .5s ease-in-out
  -o-transition: .5s ease-in-out
  transition: .5s ease-in-out
  cursor: pointer

#nav-icon4
  span
    display: block
    position: absolute
    height: 4px
    width: 39px
    background: $light-blue
    border-radius: get-vw-desktop(9px)
    opacity: 1
    left: 0
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out

#nav-icon4 span:nth-child(1)
  top: 0
  -webkit-transform-origin: left center
  -moz-transform-origin: left center
  -o-transform-origin: left center
  transform-origin: left center

#nav-icon4 span:nth-child(2)
  top: 10px
  -webkit-transform-origin: left center
  -moz-transform-origin: left center
  -o-transform-origin: left center
  transform-origin: left center

#nav-icon4 span:nth-child(3)
  top: 20px
  -webkit-transform-origin: left center
  -moz-transform-origin: left center
  -o-transform-origin: left center
  transform-origin: left center

#nav-icon4.open
  margin: 0
  top: 45%
  right: 0
  left: auto

#nav-icon4.open span:nth-child(1)
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)
  top: -3px
  left: 8px
  height: 7px
  width: 20px
  background: $white-3

#nav-icon4.open span:nth-child(2)
  width: 0
  opacity: 0

#nav-icon4.open span:nth-child(3)
  -webkit-transform: rotate(-45deg)
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  transform: rotate(-45deg)
  top: 11px
  left: 8px
  height: 7px
  width: 20px
  background: $white-3

.c-button-close
  right: 0 !important
  left: unset !important

.menu
  width: 100% !important
  max-width: 100% !important

.marginb80
  margin-bottom: 80px

.wpcf7-not-valid
  border: solid 1px $red-error !important

.wpcf7-not-valid-tip
  display: none !important

.wpcf7-validation-errors, .wpcf7-mail-sent-ng
  background: $red-error !important
  color: $red-error-text !important
  border: none !important
  text-transform: uppercase
  top: -57px !important
  left: 10px !important
  font-size: 11px !important
  font-weight: 700 !important
  padding: 8px !important
  width: calc(100% - 30px)

.wpcf7-mail-sent-ok
  background: $green-error !important
  color: $green-error-text !important
  border: none !important
  text-transform: uppercase
  top: -57px !important
  left: 10px !important
  font-size: 11px !important
  font-weight: 700 !important
  padding: 8px !important
  width: calc(100% - 30px)

.errorlabels
  padding: 0 !important

.logged-in-as
  display: none

.loading-posts
  text-align: center

#blog-list
  padding-bottom: 5.55556vw

#blog-list #blog-pagination .pagination
  margin-bottom: 0 !important

.hidden
  display: none

.simple-pagination
  height: 82px !important
  padding-top: 40px !important
  ul
    border: 1px solid #efefef !important
    position: absolute !important
    left: 50% !important
    transform: translateX(-50%) !important
    li
      font-size: 16px !important
      overflow: hidden !important
      a, .current
        overflow: hidden !important
        padding-top: 10px !important
      span
        overflow: hidden !important
.active
  .current
    color: $white !important
    background-color: #0976d1 !important

.compact-theme a, .compact-theme span, .compact-theme a:hover
  background: $white !important
  min-width: 41px !important
  min-height: 42px !important
.prev
  border-bottom-left-radius: 4px !important
  border-top-left-radius: 4px !important
.prev, .next
  padding-top: 3px !important
  height: 42px !important
  padding: 0 !important
  span
    padding: 0 !important
    border: none !important
    box-shadow: none !important
  a
    padding: 0 !important
    padding-top: 3.5px !important

#mre-header
  background-color: $white


// Partners
.hr-partners-section
  z-index: 1
  height: get-vw-desktop(300px)
  padding: get-vw-desktop(67px) 0 get-vw-desktop(66px) 0
  background-color: $white
  box-shadow: -4px -10px 23px -7px rgba($black,0.37)
  -moz-box-shadow: -4px -10px 23px -7px rgba($black,0.37)
  -webkit-box-shadow: -4px -10px 23px -7px rgba($black,0.37)
  .hr-partners-title
    color: $grey
    font-size: get-vw-desktop(34px)
    line-height: get-vw-desktop(37px)
    margin: 0
    font-family: Montserrat-Regular, sans-serif
    strong
      font-family: Montserrat-Bold, sans-serif
  .hr-partners-images
    padding-top: get-vw-desktop(30px)
    .partners-images-one
      margin-top: get-vw-desktop(10px)
      margin-right: get-vw-desktop(80px)
      width: auto
      height: get-vw-desktop(69px)
    .partners-images-two
      margin-top: get-vw-desktop(10px)
      width: auto
      height: get-vw-desktop(69px)
// END Partners

.no-results
  padding: get-vw-desktop(50px) 0
  p
    font-size: get-vw-desktop(14px)
    &:nth-child(1)
      font-family: Montserrat-Bold, sans-serif
      color: $red-empty
      margin-bottom: get-vw-desktop(3px)
    &:nth-child(2)
      color: $grey-empty


.menu-wrapper
  position: absolute
  overflow: hidden
  overflow-y: scroll
  top: get-vw-desktop(80px)
  width: 100%
  display: flex
  flex-direction: column

.mre-menu-language, .mre-menu-social, .mre-menu
  position: unset !important

.mre-menu-language
  height: auto !important
  margin-bottom: get-vw-desktop(20px)