$white: #ffffff
$white7: #f7f7f7
$dark-white: #cfcfcf
$grey: #4a4a4a
$light-grey: #656d70
$lighter-grey: #818181
$black: #000
$light-black: #333
$light-blue: #0976d1
$lighter-blue: #2099ff
$dark-blue: #00447e