// iMac
@media only screen and (min-width: 1440px)
  @import "media/desktop/_basic.sass"
  @import "media/desktop/_blog-list.sass"
  @import "media/desktop/_blog-detail.sass"

// Tablets
@media only screen and (min-width: 768px) and (max-width: 1023px)
  @import "media/tablet/_basic.sass"
  @import "media/tablet/_blog-list.sass"
  @import "media/tablet/_blog-detail.sass"

// Tablets Landscape
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
  @import "media/tablet/_basicLandscape.sass"

// Mobile
@media only screen and (max-width: 767px)
  @import "media/mobile/_basic.sass"
  @import "media/mobile/_blog-list.sass"
  @import "media/mobile/_blog-detail.sass"

// Mobile Landscape
@media only screen and (max-width: 767px) and (orientation: landscape)
  @import "media/mobile/_basicLandscape.sass"

// Iphone 6Plus and alike devices Landscape
@media only screen and (min-width: 700px) and (max-width: 740px) and (orientation: landscape)
  #before-contact-us
    #offices
      .swiper-pagination
        .swiper-pagination-bullet
          margin: 0 5.15vw
          height: 2vw
          width: 2vw

// Iphone 6Plus and alike devices Landscape
@media only screen and (max-width: 570px) and (orientation: landscape)
  #before-contact-us
    #offices
      .swiper-pagination
        bottom: 90vw
        .swiper-pagination-bullet
          margin: 0 6.4vw
          height: 2vw
          width: 2vw