// Partners
.hr-partners-section
  height: 320px
  padding: 81px 0 82px 0
  -webkit-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  -moz-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  .hr-partners-title
    font-size: 36px
    line-height: 44px
    margin: 0
  .hr-partners-images
    padding-top: 30px
    .partners-images-one
      padding-top: 8px
      margin-right: 185px
      width: 196px
      height: 67px
    .partners-images-two
      width: 242px
      height: 83px
// END Partners

// Rental One
.hr-rentalone-section
  height: 450px
  padding: 111px 0 112px 0
  .rentalone-logo
    height: 127px
    width: 300px
  .rentalone-button
    width: 216px
    padding: 12.5px 62px
    border-radius: 100px
    border: solid 2px $white
    margin: 50px auto 0
    a
      height: 100%
      font-size: 18px
      line-height: 20px
// END Real One