*.log
wp-config.php
.htaccess
/readme.html
/license.txt
.DS_Store
.idea
*.iml
wp-content/uploads
wp-content/themes/newTheme/style.css.map
wp-content/themes/newTheme/css/.sass-cache
*.sassc
wp-content/plugins/wp-pagenavi/wp-pagenavi.php
wp-content/plugins/wp-pagenavi/uninstall.php
wp-content/plugins/wp-pagenavi/test.php
wp-content/plugins/wp-pagenavi/scb/load.php
wp-content/plugins/wp-pagenavi/scb/load-composer.php
wp-content/plugins/wp-pagenavi/scb/composer.json
wp-content/plugins/wp-pagenavi/scb/Widget.php
wp-content/plugins/wp-pagenavi/scb/Util.php
wp-content/plugins/wp-pagenavi/scb/Table.php
wp-content/plugins/wp-pagenavi/scb/PostMetabox.php
wp-content/plugins/wp-pagenavi/scb/Options.php
wp-content/plugins/wp-pagenavi/scb/Hooks.php
wp-content/plugins/wp-pagenavi/scb/Forms.php
wp-content/plugins/wp-pagenavi/scb/Cron.php
wp-content/plugins/wp-pagenavi/scb/BoxesPage.php
wp-content/plugins/wp-pagenavi/scb/AdminPage.php
wp-content/plugins/wp-pagenavi/readme.txt
wp-content/plugins/wp-pagenavi/pagenavi-css.css
wp-content/plugins/wp-pagenavi/core.php
wp-content/plugins/wp-pagenavi/admin.php
wp-content/plugins/wordpress-importer/wordpress-importer.php
wp-content/plugins/wordpress-importer/readme.txt
wp-content/plugins/wordpress-importer/parsers.php
wp-content/plugins/wordpress-importer/languages/wordpress-importer.pot
wp-content/plugins/easy-wp-page-navigation/readme.txt
wp-content/plugins/easy-wp-page-navigation/languages/xx_XX.po
wp-content/plugins/easy-wp-page-navigation/languages/xx_XX.mo
wp-content/plugins/easy-wp-page-navigation/js/admin.js
wp-content/plugins/easy-wp-page-navigation/inc/plugin-form.php
wp-content/plugins/easy-wp-page-navigation/inc/functions.php
wp-content/plugins/easy-wp-page-navigation/easy-wp-pagenavigation.php
wp-content/plugins/easy-wp-page-navigation/css/easy-wp-pagenavigation.css
wp-content/plugins/easy-wp-page-navigation/css/admin.css
wp-content/languages/es_VE.po
wp-content/languages/es_VE.mo
wp-content/languages/continents-cities-es_VE.po
wp-content/languages/continents-cities-es_VE.mo
wp-content/languages/admin-network-es_VE.po
wp-content/languages/admin-network-es_VE.mo
wp-content/languages/admin-es_VE.po
wp-content/languages/admin-es_VE.mo
