#contact-us
    .inner-section
        .call-us
            .content
                height: 365px
                width: 520px
        .the-form
            .wpcf7
                .form-elements-container
                    input:not([type="submit"]), select, textarea, input[type="submit"]
                        font-size: 22px