#hero-container
  .hero-box
    height: 800px
    h3
      margin-top: 305px
      width: 460px
      font-size: 24px
    img
      margin-top: 30px
    .hero-button
      height: 42px
      width: 94px