.visible-desktop
    display: none !important
.visible-mobile
    display: block !important

header
    height: 10.416666666666668vw
    .container
        height: 10.416666666666668vw
        .center-header
            margin-top: 2.604166666666667vw
            .header-logo
                img
                    height: 5.208333333333334vw
                    width: 15.104166666666668vw
            #bs-header-navbar-nodesktop-parent
                span
                    font-size: 4.166666666666667vw

footer
    height: 22.916666666666668vw
    .container
        padding: 0 7.161458333333334vw
        .footer-center
            margin-top: 3.125vw
            .footer-logo
                img
                    height: 6.25vw
                    width: 18.489583333333336vw
            .footer-copy
                h5
                    font-size: 12px
            .footer-icons
                a
                    .fa
                        font-size: 16px
                        width: 30px
                        height: 30px
                        line-height: 30px
    .fa-caret-up
        display: none

#hero-container
    .hero-box
        height: 52.083333333333336vw
        h3
            margin-top: 15.625vw
            width: 55.46875vw
            font-size: 3.125vw
        img
            margin-top: 3.90625vw
    .hero-box-left
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4)
    .hero-button
        height: 3.2552083333333335vw
        width: 7.421875vw

#about-us
    height: 130.98958333333334vw
    .title
        h4
            font-size: 1.8229166666666667vw
        h1
            font-size: 3.6458333333333335vw
    #about-sections
        width: 68.05555555555556vw
        .carousel-indicators
            bottom: 0
            li
                height: 1.0416666666666667vw
                width: 1.0416666666666667vw
        .carousel-inner
            height: 65.10416666666667vw
            width: 65.36458333333334vw
            margin: 0 auto
            .item
                .item-image
                    width: 18.489583333333336vw
                    float: none
                    margin: 3.90625vw auto 3.90625vw  auto
                    img
                        height: 18.489583333333336vw
                        width: 18.489583333333336vw
                        float: none
                .item-paragraph
                    width: 55.72916666666667vw
                    float: none
                    padding: 0
                    font-size: 1.8229166666666667vw
                    text-align: center
                    margin: 0 auto
        .carousel-control
            .glyphicon
                font-size: 3.385416666666667vw
                height: 4.166666666666667vw
                width: 4.166666666666667vw
                line-height: 1.2
    .extra-info
        height: 18.229166666666668vw
        width: 85.67708333333334vw
        h2
            font-size: 3.90625vw
            line-height: 1.36
            span
                font-size: 2.8645833333333335vw

#after-about-us
    height: 39.0625vw
    h4
        font-size: 1.8229166666666667vw
        padding-top: 7.8125vw
    h1
        font-size: 3.6458333333333335vw
        padding-bottom: 5.859375vw
    #partners-images
        img
            margin: 0 1.597222222222222vw
        #hr-realty
            height: 11.328125vw
            width: 10.677083333333334vw
        #ala-19
            height: 5.598958333333334vw
            width: 17.1875vw

#before-contact-us
    height: 52.083333333333336vw
    #offices
        height: 100%
        width: 100%
        .carousel-indicators
            bottom: 33.203125vw
            li
                margin: -0.78125vw 3.5vw
                height: 1.171875vw
                width: 1.171875vw
            .flag
                img
                    height: 6.510416666666667vw
                    width: 6.510416666666667vw
                    margin: 0 -3.2552083333333335vw
        h4
            font-size: 2.0833333333333335vw
            padding-top: 21.484375vw
        .carousel-inner
            bottom: -6.25vw
            .item
                .office-detail
                    h5
                        font-size: 14px
                        line-height: 1.79
                .office-detail.usa-office:first-child
                    margin-left: 4.027778vw
                .office-detail.usa-office:last-child
                    margin-left: -4.694444vw


#contact-us
    height: 120vw
    .title
        h1
            font-size: 2.8645833333333335vw
        .first
            display: inline
    .inner-section
        margin: 0 5.208333333333334vw
        .call-us
            flex: 1 100%
            padding-bottom: 30px
            margin-top: 0
            .content
                margin: 0 auto
                height: 33.85416666666667vw
                width: 55.46875vw
                .centered-content
                    h2
                        font-size: 3.125vw
                    img
                        height: 9.375vw
                        width: 8.333333333333334vw
                    #contact-phone
                        font-size: 3.90625vw
        .the-form
            flex: 1 100%
            margin-left: 0
            padding: 30px 0
            .wpcf7
                .form-elements-container
                    margin: 0 auto
                    p
                        padding: 0.5208333333333334vw 0.9114583333333334vw
                    p:last-child
                        padding-top: 1.5625vw
                    input:not([type="submit"]), select, textarea
                        height: 6.119791666666667vw
                        width: 41.536458333333336vw
                        font-size: 1.8229166666666667vw
                        padding: 1.8229166666666667vw 2.604166666666667vw
                    input[type="submit"]
                        font-size: 2.0833333333333335vw
                    textarea
                        height: 17.317708333333336vw
                        width: 85.67708333333334vw
                    .your-schedule::before, .your-interest::before, .your-country::before
                        bottom: 2.0833333333333335vw
                        left: 38.802083333333336vw
                        font-size: 2.34375vw