// General
.container-mre
  width: get-vw-tablet(659px)
  height: 100%
// END General

// Swiper General
body
  font-size: get-vw-tablet(14px)
  margin: 0
  padding: 0

.swiper-container
  width: 100%
  height: get-vw-tablet(880px)

.swiper-slide
  font-size: get-vw-tablet(18px)

.menu
  min-width: get-vw-tablet(100px)
  width: 70%
  max-width: get-vw-tablet(344px)
  height: auto
  .mre-menu
    top: get-vw-tablet(78px)
    left: 0
    padding: 0
    width: 100%
    .mre-menu-item
      border-bottom: 2px solid rgba(127, 129, 130, 0.15)
      padding: get-vw-tablet(25px) 0 0 get-vw-tablet(50px)
      height: get-vw-tablet(80px)
      font-size: get-vw-tablet(22px)
      line-height: get-vw-tablet(30px)
    &:first-child
      border-top: 2px solid rgba(127, 129, 130, 0.15)
  .mre-menu-language
    width: 100%
    bottom: get-vw-tablet(165px)
    left: 0
    height: get-vw-tablet(235px)
    .mre-menu-language-text
      padding-top: get-vw-tablet(40px)
      font-size: get-vw-tablet(16px)
      line-height: get-vw-tablet(20px)
    .mre-menu-language-flag
      margin: get-vw-tablet(25px) get-vw-tablet(12.5px) 0 get-vw-tablet(12.5px)
      opacity: 0.4
      width: get-vw-tablet(50px)
      height: get-vw-tablet(50px)
    .language-flag-active
      opacity: 1
  .mre-menu-social
    display: block
    height: get-vw-tablet(63px)
    bottom: 0
    width: 100%
    .menu-social-icons
      font-size: get-vw-tablet(22px)
      padding: 0
      .menu-social-icon
        height: get-vw-tablet(38px)
        width: get-vw-tablet(38px)

.content
  width: 100%

.menu-button
  top: 0
  left: 0
  padding: get-vw-tablet(27px) 0 get-vw-tablet(27px) get-vw-tablet(48px)
  height: get-vw-tablet(80px)
  -webkit-transition: .3s
  transition: .3s
  z-index: 2
  width: 10.68vw

.menu-button .bar:nth-of-type(1)
  margin-top: 0

.menu-button .bar:nth-of-type(3)
  margin-bottom: 0

.bar
  width: get-vw-tablet(39px)
  height: get-vw-tablet(4px)
  margin: get-vw-tablet(6px) auto
  border-radius: get-vw-tablet(10px)
  -webkit-transition: .3s
  transition: .3s

.menu-button:hover .bar:nth-of-type(1)
  -webkit-transform: translateY(1.5px) rotate(-4.5deg)
  -ms-transform: translateY(1.5px) rotate(-4.5deg)
  transform: translateY(1.5px) rotate(-4.5deg)

.menu-button:hover .bar:nth-of-type(2)
  opacity: .9

.menu-button:hover .bar:nth-of-type(3)
  -webkit-transform: translateY(-1.5px) rotate(4.5deg)
  -ms-transform: translateY(-1.5px) rotate(4.5deg)
  transform: translateY(-1.5px) rotate(4.5deg)

.cross .bar:nth-of-type(1)
  -webkit-transform: translateY(get-vw-tablet(15px)) rotate(-45deg)
  -ms-transform: translateY(get-vw-tablet(15px)) rotate(-45deg)
  transform: translateY(get-vw-tablet(15px)) rotate(-45deg)

.cross .bar:nth-of-type(2)
  opacity: 0

.cross .bar:nth-of-type(3)
  -webkit-transform: translateY(get-vw-tablet(-15px)) rotate(45deg)
  -ms-transform: translateY(get-vw-tablet(-15px)) rotate(45deg)
  transform: translateY(get-vw-tablet(-15px)) rotate(45deg)

.cross:hover .bar:nth-of-type(1)
  -webkit-transform: translateY(get-vw-tablet(13.5px)) rotate(-40.5deg)
  -ms-transform: translateY(get-vw-tablet(13.5px)) rotate(-40.5deg)
  transform: translateY(get-vw-tablet(13.5px)) rotate(-40.5deg)

.cross:hover .bar:nth-of-type(2)
  opacity: .1

.cross:hover .bar:nth-of-type(3)
  -webkit-transform: translateY(get-vw-tablet(-13.5px)) rotate(40.5deg)
  -ms-transform: translateY(get-vw-tablet(-13.5px)) rotate(40.5deg)
  transform: translateY(get-vw-tablet(-13.5px)) rotate(40.5deg)
// END Swiper General

// Header
#mre-header
  .logo-header
    top: 0
    height: get-vw-tablet(80px)
    left: 10.68vw
    width: 52.31vw
    .img-div
      width: 25vw
      height: get-vw-tablet(80px)
      img
        width: get-vw-tablet(116px)
        height: get-vw-tablet(40px)
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
  .social-header
    top: 0
    left: 62.5vw
    height: get-vw-tablet(80px)
    width: 37.5vw
    z-index: 2
    .social-icons
      display: none
  .swiper-container-hero
    padding-top: get-vw-tablet(80px)
    .swiper-slide
      background-position: 50%
      .slide-overlay
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.4)
      .slide-text
        top: get-vw-tablet(347px)
        left: 50%
        transform: translateX(-50%)
        h2
          font-size: get-vw-tablet(30px)
          line-height: get-vw-tablet(40px)
          text-shadow: 0 2px get-vw-tablet(10px) rgba(0, 0, 0, 0.5)
        h3
          margin-top: get-vw-tablet(5px)
          font-size: get-vw-tablet(60px)
          line-height: get-vw-tablet(60px)
          text-shadow: 0 2px get-vw-tablet(10px) rgba(0, 0, 0, 0.5)
    .swiper-button-prev, .swiper-button-next
      font-size: get-vw-tablet(32px)
      height: get-vw-tablet(32px)
      top: get-vw-tablet(480px)
      width: get-vw-tablet(31px)
    .swiper-button-prev
      left: get-vw-tablet(55px)
    .swiper-button-next
      right: get-vw-tablet(55px)
  .hero-button
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    z-index: 1
    width: get-vw-tablet(57px)
    height: get-vw-tablet(25px)
// END Header

// About Us
#mre-about-us
  height: get-vw-tablet(696px)
  .about-us-title
    padding-top: get-vw-tablet(50px)
    opacity: 0.6
    font-size: get-vw-tablet(14px)
  .about-us-sub-first
    padding-top: get-vw-tablet(10px)
    font-size: get-vw-tablet(24px)
    line-height: get-vw-tablet(29px)
  .about-us-sub-second
    font-size: get-vw-tablet(24px)
    line-height: get-vw-tablet(29px)
  .about-us-image
    margin: get-vw-tablet(40px) 0 get-vw-tablet(30px) 0
    width: get-vw-tablet(120px)
    height: get-vw-tablet(120px)
    border-radius: 50%
  .about-us-text
    font-size: get-vw-tablet(14px)
    line-height: get-vw-tablet(20px)
    width: get-vw-tablet(488px)
    margin: 0 auto
  .about-us-numbers
    height: get-vw-tablet(120px)
    padding: get-vw-tablet(30px) get-vw-tablet(28px)
    width: get-vw-tablet(658px)
    margin: get-vw-tablet(50px) auto 0
    border-radius: get-vw-tablet(18px)
    background-color: rgba(247, 247, 247, 0.1)
    box-shadow: 0 6px get-vw-tablet(10px) 0 rgba(0, 0, 0, 0.3)
    li
      width: get-vw-tablet(173px)
      margin: 0 get-vw-tablet(12.5px)
      .numbers
        font-size: get-vw-tablet(30px)
        line-height: get-vw-tablet(30px)
      .title
        font-size: get-vw-tablet(22px)
        line-height: get-vw-tablet(30px)
// END About Us

// Partners
#mre-partners
  height: get-vw-tablet(700px)
  .overlay-left, .overlay-right
    top: 0
    left: 0
    width: 100%
    height: 100%
  .partner-left, .partner-right
    height: get-vw-tablet(350px)
  .partners-title-first
    margin: get-vw-tablet(82px) 0 0 0
    font-size: get-vw-tablet(20px)
    line-height: get-vw-tablet(30px)
  .partners-title-second
    font-size: get-vw-tablet(35px)
    line-height: get-vw-tablet(40px)
  .partner-left
    img
      width: get-vw-tablet(90px)
      height: get-vw-tablet(96px)
      margin-top: get-vw-tablet(20px)
  .partner-right
    img
      width: get-vw-tablet(180px)
      height: get-vw-tablet(58px)
      margin-top: get-vw-tablet(39px)
// END Partners

// Offices
#mre-offices
  height: get-vw-tablet(400px)
  .swiper-container-flags
    height: 100%
  h4
    margin: get-vw-tablet(70px) 0 get-vw-tablet(40px) 0
    font-size: get-vw-tablet(24px)
    line-height: get-vw-tablet(40px)
  .flags-indicators
    .flag-image
      height: get-vw-tablet(50px)
      margin: 0 get-vw-tablet(12.5px) get-vw-tablet(10px) get-vw-tablet(12.5px)
      width: get-vw-tablet(50px)
    .flag-image-opacity
      opacity: .6
  .swiper-wrapper
    width: 100%
    .swiper-slide
      margin: 0 auto
      height: get-vw-tablet(120px)
      width: 100%
      .office-detail
        width: get-vw-tablet(265px)
        margin: 0 get-vw-tablet(14px)
        h5
          font-size: get-vw-tablet(14px)
          line-height: get-vw-tablet(25px)
          margin: 0
// END Offices

//.visible-desktop
  display: none !important
//.visible-mobile
  display: block !important
//header
  .container
    height: 10.416666666666668vw
    .center-header
      margin-top: 2.604166666666667vw
      .header-logo
        img
          height: 5.208333333333334vw
          width: 15.104166666666668vw
      #bs-header-navbar-nodesktop-parent
        span
          font-size: 4.166666666666667vw
//footer
  height: 22.916666666666668vw
  .container
    padding: 0 7.161458333333334vw
    .footer-center
      margin-top: 3.125vw
      .footer-logo
        img
          height: 6.25vw
          width: 18.489583333333336vw
      .footer-copy
        h5
          font-size: 12px
      .footer-icons
        a
          .fa
            font-size: 16px
            width: 30px
            height: 30px
            line-height: 30px
  .fa-caret-up
    display: none
//#hero-container
  .hero-box
    height: 52.083333333333336vw
    h3
      margin-top: 15.625vw
      width: 55.46875vw
      font-size: 3.125vw
    img
      margin-top: 3.90625vw
  .hero-box-left
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.4)
  .hero-button
    height: 3.2552083333333335vw
    width: 7.421875vw
//#about-us
  height: 130.98958333333334vw
  .title
    h4
      font-size: 1.8229166666666667vw
    h1
      font-size: 3.6458333333333335vw
  #about-sections
    width: 68.05555555555556vw
    .swiper-wrapper
      height: 68vw
      width: 65.36458333333334vw
      margin: 0 auto
      .swiper-slide
        .item-image
          width: 18.489583333333336vw
          float: none
          margin: 0 auto 3.90625vw auto
          img
            height: 18.489583333333336vw
            width: 18.489583333333336vw
            float: none
        .item-paragraph
          width: 45vw
          float: none
          padding: 0
          font-size: 1.8229166666666667vw
          text-align: center
          margin: 0 auto
    .swiper-pagination
      .swiper-pagination-bullet
        height: 1.04vw
        width: 1.04vw
  .extra-info
    height: 18.229166666666668vw
    width: 85.67708333333334vw
    h2
      font-size: 3.90625vw
      line-height: 1.36
      span
        font-size: 2.8645833333333335vw
//#after-about-us
  height: 39.0625vw
  h4
    font-size: 1.8229166666666667vw
    padding-top: 7.8125vw
  h1
    font-size: 3.6458333333333335vw
    padding-bottom: 5.859375vw
  #partners-images
    img
      margin: 0 1.597222222222222vw
    #hr-realty
      height: 11.328125vw
      width: 10.677083333333334vw
    #ala-19
      height: 5.598958333333334vw
      width: 17.1875vw
//#before-contact-us
  height: 52.083333333333336vw
  #offices
    height: 100%
    width: 100%
    h4
      font-size: 2.0833333333333335vw
      padding-top: 9vw
    .swiper-wrapper
      bottom: -6.25vw
      .swiper-slide
        .office-detail
          h5
            font-size: 14px
            line-height: 1.79
        .office-detail.usa-office:first-child
          margin-left: 4.027778vw
        .office-detail.usa-office:last-child
          margin-left: -4.694444vw
    .swiper-pagination
      bottom: 35.15625vw
      .swiper-pagination-bullet
        height: 1.5vw
        width: 1.5vw
        margin: 0 4.25vw
//#contact-us
  height: 120vw
  .spacer.initial
    height: 6vw
  .spacer
    height: 5.20vw
  .title
    font-size: 2.8645833333333335vw
    .first
      display: inline
  .inner-section
    margin: 0 5.20vw
    .call-us
      float: none
      margin-bottom: 10vw
      .content
        margin: 0 auto
        height: 33.85vw
        width: 55.46875vw
        h2
          font-size: 3.125vw
        img
          height: 9.375vw
          width: 8.333333333333334vw
        #contact-phone
          font-size: 3.90625vw
    .the-form
      width: 100%
      .wpcf7
        p
          span.invalid-input::before
            font-size: 2.2vw
            left: 1.8vw
            top: 2vw
          span.invalid-texarea::before
            font-size: 2.2vw
            left: 1.8vw
            top: 1.8vw
        p:last-child
          padding: 0.5208333333333334vw 0.9114583333333334vw
        p:last-child
          padding-top: 1.5625vw
        input:not([type="submit"]), select, textarea
          height: 6.11vw
          width: 41.53vw
          font-size: 1.82vw
          padding: 1.82vw 2.60vw
        input[type="submit"]
          font-size: 2.08vw
          width: 26.04vw
          height: 6.510vw
          margin: 0.69vw 0 0 30vw
        textarea
          height: 17.31vw
          width: 85vw
        .your-schedule::before, .your-interest::before, .your-country::before
          bottom: 2.0833333333333335vw
          left: 38.802083333333336vw
          font-size: 2.34375vw
    .form-errors
      font-size: 1.5625vw
      top: 43.973958vw
      left: 2vw
      width: 26.041vw
      height: 3vw

//.container-mre
  width: 85.80729166666667vw
  height: 100%

//#mre-footer
  height: 22.65625vw
  .mre-footer-elements
    width: 52.21354166666667vw
    .mre-footer-logo
      height: 6.25vw
      margin: 5.208333333333334vw 0 1.3020833333333335vw 0
      width: 18.489583333333336vw
    .mre-footer-copyright
      font-size: 1.5625vw
      line-height: 2.34375vw
    a
      font-family: Montserrat-Bold, sans-serif
      font-size: 1.5625vw
      line-height: 2.34375vw
      text-decoration: underline
  .mre-footer-go-top
    display: none