#logo
    width: 80%

#contact-us
    .title
        h1
            font-size: 32px
    .call-us
        flex: 1 100%
        .content
            margin: 0 auto
            height: 260px
            width: 260px
            .centered-content
                h2
                    font-size: 23px
    .the-form
        flex: 1 100%