#blog-list-categories
  height: get-vw-tablet(230px)
  margin-top: get-vw-tablet(80px)
  .blog-list-category-title
    font-size: get-vw-tablet(14px)
    margin-top: get-vw-tablet(40px)
    line-height: get-vw-tablet(20px)
    margin-bottom: 0
    opacity: 0.6
  .blog-list-category-text
    font-size: get-vw-tablet(24px)
    line-height: get-vw-tablet(28px)
    margin: 0
  .swiper-container-blog-categories
    height: get-vw-tablet(71px)
    margin-bottom: get-vw-tablet(51px)
    margin-top: get-vw-tablet(20px)
    width: get-vw-tablet(450px)
    .swiper-wrapper
      width: get-vw-tablet(431px)
      .swiper-slide
        border-radius: 100%
        width: get-vw-tablet(71px) !important
        margin-right: get-vw-tablet(9.5px)
        margin-left: get-vw-tablet(9.5px)
        img
          height: get-vw-tablet(71px)
          width: get-vw-tablet(71px)
        .swiper-overlay
          border-radius: 50%
          height: get-vw-tablet(71px)
          top: 0
          width: get-vw-tablet(71px)
    .swiper-button-prev, .swiper-button-next
      font-size: get-vw-tablet(22px)
      height: get-vw-tablet(22px)
      top: 66%
      width: get-vw-tablet(28px)
    .swiper-button-prev
      left: get-vw-tablet(100px)
    .swiper-button-next
      right: get-vw-tablet(100px)
#blog-list
  .blog-list-triangle
    height: get-vw-tablet(14px)
    left: 50%
    top: -5px
    transform: translateX(-50%)
    width: get-vw-tablet(20px)
  .input-group
    border-bottom: 2px solid $select-grey
    display: table
    height: get-vw-tablet(38px)
    margin-top: get-vw-tablet(63px)
    width: get-vw-tablet(457px)
    i
      height: get-vw-tablet(17px)
      padding-left: get-vw-tablet(11px)
      padding-top: get-vw-tablet(8px)
      width: get-vw-tablet(17px)
      font-size: get-vw-tablet(18px)
    input[type="text"]
      font-size: get-vw-tablet(16px)
      height: get-vw-tablet(38px)
      line-height: get-vw-tablet(15px)
      padding-top: get-vw-tablet(15px)
  .blog-search, .blog-select
    padding: 0
    margin-bottom: get-vw-tablet(20px)
  .blog-filter
    border: solid 2px $select-grey
    font-size: get-vw-tablet(14px)
    height: get-vw-tablet(40px)
    margin-top: get-vw-tablet(63px)
    width: get-vw-tablet(171px)
  .blog-post
    height: get-vw-tablet(322px)
    margin-top: get-vw-tablet(20px)
    padding: 0
    width: get-vw-tablet(318px)
    &:nth-child(odd)
      margin-right: get-vw-tablet(23px)
    .blog-image
      height: get-vw-tablet(135px)
      .blog-category
        bottom: 0
        font-size: get-vw-tablet(10px)
        height: get-vw-tablet(21px)
        line-height: get-vw-tablet(21px)
        min-width: get-vw-tablet(80px)
        padding: 0 get-vw-tablet(10px)
    .blog-text
      border: solid 1px #cfcfcf
      height: get-vw-tablet(187px)
      padding: get-vw-tablet(20px) get-vw-tablet(25px) 0 3.2552083333333335vw
      .blog-text-title
        font-size: get-vw-tablet(14px)
        line-height: get-vw-tablet(18px)
      .blog-text-author
        font-size: get-vw-tablet(11px)
        line-height: get-vw-tablet(20px)
        opacity: 0.5
        .blog-text-date, .blog-text-comments
          padding-left: get-vw-tablet(7px)
      .blog-text-summary
        font-size: get-vw-tablet(12px)
        line-height: get-vw-tablet(20px)
        margin-top: get-vw-tablet(10px)
  #blog-pagination
    .pagination
      margin: get-vw-tablet(50px) 0 get-vw-tablet(78px) 0
      li
        font-size: 16px
        //line-height: get-vw-tablet(21px)
        /*a, .current
          height: get-vw-tablet(38px)
          padding-top: get-vw-tablet(8px)
          width: get-vw-tablet(37px)*/
#blog-recommended-posts
  background-position-x: center
  height: get-vw-tablet(386px)
  padding: 0
  .recommended-posts-overlay
    width: 100%
    height: 100%
  .recommended-posts-title
    font-size: get-vw-tablet(20px)
    line-height: get-vw-tablet(30px)
    padding-top: get-vw-tablet(51px)
    text-align: center
    margin: 0
  .swiper-container-blog-most-viewed
    height: get-vw-tablet(206px)
    margin-bottom: get-vw-tablet(71px)
    margin-top: get-vw-tablet(30px)
    width: get-vw-tablet(543px)
    .swiper-wrapper
      .swiper-slide
        width: get-vw-tablet(257px)
        .blog-most-viewed-image
          height: get-vw-tablet(109px)
          .blog-most-viewed-category
            bottom: 0
            font-size: get-vw-tablet(10px)
            height: get-vw-tablet(21px)
            line-height: get-vw-tablet(21px)
            min-width: get-vw-tablet(80px)
            padding: 0 get-vw-tablet(10px)
        .blog-most-viewed-text
          border: solid 1px #cfcfcf
          height: get-vw-tablet(97px)
          padding: get-vw-tablet(20px) get-vw-tablet(23px) 0 get-vw-tablet(23px)
          a
            .blog-most-viewed-text-title
              font-size: get-vw-tablet(14px)
              line-height: get-vw-tablet(18px)
          .blog-most-viewed-text-author
            font-size: get-vw-tablet(11px)
            line-height: get-vw-tablet(13px)
            opacity: 0.5
            width: get-vw-tablet(190px)
            .blog-most-viewed-text-date, .blog-most-viewed-text-comments
              padding-left: get-vw-tablet(5px)
    .swiper-button-prev, .swiper-button-next
      font-size: get-vw-tablet(28px)
      height: get-vw-tablet(28px)
      top: 57%
      width: get-vw-tablet(20px)
    .swiper-button-prev
      left: get-vw-tablet(60px)
    .swiper-button-next
      right: get-vw-tablet(60px)

#our-ebooks
  height: get-vw-tablet(240px)
  .mask
    padding: get-vw-tablet(45px) 0
    h3
      font-size: get-vw-tablet(26px)
    p
      font-size: get-vw-tablet(20px)
      margin-bottom: get-vw-tablet(16px)
    a
      font-size: get-vw-tablet(16px)
      border-radius: get-vw-tablet(8px)
      padding: get-vw-tablet(10px) get-vw-tablet(80px)