#blog-detail-breadcrumb
  padding: get-vw-tablet(40px) 0 get-vw-tablet(20px) 0
  .blog-detail-breadcrumb-prev
    font-size: get-vw-tablet(20px)
    height: get-vw-tablet(20px)
    margin-right: get-vw-tablet(10px)
    vertical-align: unset
    width: get-vw-tablet(20px)
  .blog-detail-breadcrumb-category
    font-size: get-vw-tablet(10px)
    height: get-vw-tablet(30px)
    line-height: get-vw-tablet(30px)
    min-width: get-vw-tablet(92px)
    padding: 0 get-vw-tablet(10px)
    margin: 0
  .blog-detail-breadcrumb-title
    font-size: get-vw-tablet(12px)
    margin: 0 0 0 get-vw-tablet(10px)
#blog-detail-hero
  height: get-vw-tablet(280px)
  .blog-detail-hero-image
    height: 100%
    background-size: cover
    .blog-detail-hero-author
      bottom: get-vw-tablet(-50px)
      height: get-vw-tablet(100px)
      width: get-vw-tablet(100px)
#blog-detail-content
  padding-top: get-vw-tablet(100px)
  .blog-detail-content-title
    font-size: get-vw-tablet(20px)
    line-height: get-vw-tablet(30px)
    margin: 0 0 0 get-vw-tablet(58px)
    vertical-align: middle
  .blog-detail-content-author
    font-size: get-vw-tablet(14px)
    line-height: get-vw-tablet(20px)
    margin: 1px 0 0 get-vw-tablet(58px)
    .blog-detail-content-date
      font-size: get-vw-tablet(14px)
      line-height: get-vw-tablet(20px)
      padding-left: get-vw-tablet(10px)
  .blog-detail-content-text
    font-size: get-vw-tablet(14px)
    line-height: get-vw-tablet(20px)
    padding: get-vw-tablet(40px) get-vw-tablet(58px) get-vw-tablet(50px) get-vw-tablet(58px)
    p
      padding-bottom: get-vw-tablet(15px)
  .blog-detail-content-share
    height: get-vw-tablet(154px)
    .blog-detail-content-share-title
      font-size: get-vw-tablet(18px)
      margin: 0 0 get-vw-tablet(20px) 0
    .blog-detail-content-share-list
      img
        height: get-vw-tablet(42px)
        margin: 0 get-vw-tablet(6px)
        width: get-vw-tablet(42px)
.blog-detail-divider
  width: get-vw-tablet(542px)
#blog-detail-comments
  padding: get-vw-tablet(40px) 0
  .blog-detail-comments-number
    font-size: get-vw-tablet(20px)
    line-height: get-vw-tablet(30px)
    margin-bottom: get-vw-tablet(20px)
  .blog-detail-comments-post
    border-radius: get-vw-tablet(6px)
    margin: 0 auto get-vw-tablet(20px) auto
    min-height: get-vw-tablet(228px)
    padding: get-vw-tablet(30px) get-vw-tablet(35px) get-vw-tablet(30px) get-vw-tablet(40px)
    width: get-vw-tablet(542px)
    .blog-detail-comments-post-author
      font-size: get-vw-tablet(16px)
      line-height: get-vw-tablet(20px)
      .blog-detail-comments-post-date
        font-size: get-vw-tablet(14px)
        line-height: get-vw-tablet(14px)
        margin-left: get-vw-tablet(10px)
    .blog-detail-comments-post-text
      font-size: get-vw-tablet(16px)
      line-height: get-vw-tablet(23px)
      margin: 0
      padding-top: get-vw-tablet(10px)
#blog-detail-form
  .blog-detail-comments-form
    height: get-vw-tablet(465px)
    padding: 0
    width: get-vw-tablet(542px)
    .blog-detail-comments-form-title
      font-size: get-vw-tablet(20px)
      line-height: get-vw-tablet(30px)
      padding: get-vw-tablet(40px) 0 get-vw-tablet(5px) 0
      margin: 0
    .blog-detail-comments-form-subtitle
      font-size: get-vw-tablet(14px)
      line-height: get-vw-tablet(20px)
      margin: 0
    .comments-form
      input[type="text"]
        font-size: get-vw-tablet(14px)
        height: get-vw-tablet(47px)
        line-height: get-vw-tablet(15px)
        margin-right: get-vw-tablet(20px)
        margin-top: get-vw-tablet(30px)
        padding-left: get-vw-tablet(15px)
        width: get-vw-tablet(258px)
      input[type="email"]
        font-size: get-vw-tablet(14px)
        height: get-vw-tablet(47px)
        line-height: get-vw-tablet(15px)
        margin-top: get-vw-tablet(30px)
        padding-left: get-vw-tablet(15px)
        width: get-vw-tablet(258px)
      textarea
        font-size: get-vw-tablet(14px)
        height: get-vw-tablet(133px)
        line-height: get-vw-tablet(16px)
        margin-top: get-vw-tablet(20px)
        padding-left: get-vw-tablet(15px)
        padding-top: get-vw-tablet(15px)
    .comments-form-button
      border-radius: get-vw-tablet(10px)
      font-size: get-vw-tablet(16px)
      height: get-vw-tablet(50px)
      line-height: get-vw-tablet(20px)
      margin-top: get-vw-tablet(15px)
      width: get-vw-tablet(260px)