// Hero
.agent-hero
  margin-top: get-vw-mobile(60px)
  height: get-vw-mobile(350px)
  background-position-x: center
  .mask
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.4)
  h1
    z-index: 10
    left: 0
    right: 0
    top: 0
    bottom: 0
    font-size: get-vw-mobile(25px)
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5)
    height: get-vw-mobile(36px)
// END Hero

// Agents
.hr-agents-section
  height: auto
  margin-top: get-vw-mobile(5px)
  margin-bottom: get-vw-mobile(60px)
  .agent-profile
    height: get-vw-mobile(126px)
    padding: get-vw-mobile(20px) get-vw-mobile(52px) get-vw-mobile(20px) get-vw-mobile(52px)
    .agent-profile-photo
      width: get-vw-mobile(101px)
      img
        width: get-vw-mobile(86px)
        height: get-vw-mobile(86px)
        margin-right: get-vw-mobile(15px)
        border-radius: 50%
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3)
    .agent-profile-photo-right
      width: get-vw-mobile(101px)
      img
        width: get-vw-mobile(86px)
        height: get-vw-mobile(86px)
        margin-right: get-vw-mobile(15px)
        border-radius: 50%
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3)
    .agent-profile-info
      display: inline-block
      width: get-vw-mobile(150px)
      margin-top: get-vw-mobile(15px)
      .profile-name
        margin: 0
        padding-bottom: get-vw-mobile(6px)
        font-size: get-vw-mobile(12px)
        line-height: get-vw-mobile(13px)
        .profile-position
          font-size: get-vw-mobile(12px)
          margin: 0
      .profile-phone, .profile-email
        margin: 0
        opacity: 1
        font-size: get-vw-mobile(9px)
        line-height: get-vw-mobile(14px)
  .agent-bio
    height: auto
    padding: get-vw-mobile(30px) get-vw-mobile(51px) 0 get-vw-mobile(51px)
    p
      font-size: get-vw-mobile(12px)
      line-height: get-vw-mobile(18px)
      padding-bottom: get-vw-mobile(15px)
      border-bottom: solid 2px rgba(143, 143, 143, 0.4)
      margin: 0
  .agent-properties
    padding: get-vw-mobile(15px) get-vw-mobile(51px) 0 get-vw-mobile(51px)
    .properties-number
      margin: 0
      font-size: get-vw-mobile(12px)
      line-height: get-vw-mobile(15px)
      i
        font-size: get-vw-mobile(20px)
        margin-left: get-vw-mobile(15px)
    .properties-list
      width: get-vw-mobile(258px)
      .property
        width: get-vw-mobile(258px)
        margin: get-vw-mobile(20px) 0 0 0
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2)
        &:nth-child(3n+3)
          margin-right: 0
        .property-image
          height: get-vw-mobile(193px)
        .property-info
          height: get-vw-mobile(97px)
          padding: get-vw-mobile(10px) get-vw-mobile(14px)
          .info-price
            margin: 0
            font-size: get-vw-mobile(18px)
            line-height: get-vw-mobile(22px)
          .info-features
            margin: 2px 0 0 0
            font-size: get-vw-mobile(12px)
            line-height: get-vw-mobile(15px)
          .info-address
            margin: 2px 0 0 0
            font-size: get-vw-mobile(12px)
            line-height: get-vw-mobile(15px)
            opacity: 0.6
          .info-mls
            margin: get-vw-mobile(8px) 0 0 0
            opacity: 0.6
            font-size: get-vw-mobile(12px)
            line-height: get-vw-mobile(15px)

.agent-profile-info-right
  text-align: right
  width: 60% !important
.agent-profile-photo-right
  width: 40% !important
// END Agents