// Partners
.hr-partners-section
  height: get-vw-mobile(150px)
  padding: get-vw-mobile(40px) 0
  -webkit-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  -moz-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  .hr-partners-title
    font-size: get-vw-mobile(14px)
    line-height: get-vw-mobile(18px)
    margin: 0
  .hr-partners-images
    padding-top: get-vw-mobile(20px)
    .partners-images-one
      padding-top: get-vw-mobile(1px)
      margin-right: get-vw-mobile(40px)
      width: get-vw-mobile(90px)
      height: get-vw-mobile(30px)
    .partners-images-two
      width: get-vw-mobile(96px)
      height: get-vw-mobile(32px)
// END Partners