// General
.container-hr
  width: get-vw-mobile(310px)
// END General

// Header
.menu
  min-width: get-vw-mobile(100px)
  width: 100%
  max-width: get-vw-mobile(300px)
  height: get-vw-mobile(582px)
  .hr-menu
    top: get-vw-mobile(60px)
    left: 0
    padding: 0
    width: 100%
    .hr-menu-item
      border-bottom: 2px solid rgba(127, 129, 130, 0.15)
      padding: get-vw-mobile(20px) 0 0 get-vw-mobile(30px)
      height: get-vw-mobile(60px)
      font-size: get-vw-mobile(16px)
      line-height: get-vw-mobile(20px)
    &:first-child
      border-top: 2px solid rgba(127, 129, 130, 0.15)
  .hr-menu-language
    width: 100%
    bottom: get-vw-mobile(100px)
    left: 0
    height: get-vw-mobile(60px)
    .hr-menu-language-text
      padding-top: get-vw-mobile(20px)
      font-size: get-vw-mobile(12px)
      line-height: get-vw-mobile(20px)
    .hr-menu-language-flag
      margin: get-vw-mobile(15px) get-vw-mobile(8px) 0 get-vw-mobile(8px)
      opacity: 0.4
      width: get-vw-mobile(32px)
      height: get-vw-mobile(32px)
    .language-flag-active
      opacity: 1
  .hr-menu-social
    display: block
    height: get-vw-mobile(52px)
    bottom: 0
    width: 100%
    text-align: center
    .menu-social-icons
      font-size: get-vw-mobile(22px)
      padding: 0
      text-align: center
      .menu-social-icon
        height: get-vw-mobile(37px)
        width: get-vw-mobile(37px)

.menu-button
  top: 0
  left: 0
  padding: get-vw-mobile(20px) 0 get-vw-mobile(27px) get-vw-mobile(20px)
  height: get-vw-mobile(60px)
  -webkit-transition: .3s
  transition: .3s
  z-index: 2
  width: 15.28vw

#nav-icon4
  width: get-vw-mobile(26px)

#nav-icon4
  span
    height: get-vw-mobile(3px)
    width: get-vw-mobile(26px)

#nav-icon4 span:nth-child(1)
  top: get-vw-mobile(5px)

#nav-icon4 span:nth-child(2)
  top: get-vw-mobile(12px)

#nav-icon4 span:nth-child(3)
  top: get-vw-mobile(20px)

#nav-icon4.open span:nth-child(1)
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)
  top: get-vw-mobile(3px)
  left: get-vw-mobile(3px)
  height: 5px
  width: get-vw-mobile(26px)

#nav-icon4.open
  top: 30%

#nav-icon4.open span:nth-child(2)
  width: 0%
  opacity: 0

#nav-icon4.open span:nth-child(3)
  -webkit-transform: rotate(-45deg)
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  transform: rotate(-45deg)
  top: get-vw-mobile(22px)
  left: get-vw-mobile(3px)
  height: 5px
  width: get-vw-mobile(26px)

#hr-header
  .logo-header
    top: 0
    height: get-vw-mobile(60px)
    left: 15.28vw
    width: 48.33vw
    .img-div
      width: 27vw
      height: get-vw-mobile(60px)
      img
        width: get-vw-mobile(50px)
        height: get-vw-mobile(50px)
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
  .social-header
    top: 0
    left: 63.61vw
    height: get-vw-mobile(60px)
    width: 36.39vw
    z-index: 2
    .social-icons
      display: none

.o-wrapper 
  -webkit-transition: -webkit-transform 0.3s
  transition: transform 0.3s

.o-container 
  margin: 0 auto
  padding: 0 get-vw-mobile(12px)
  max-width: get-vw-mobile(960px)

.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right 
  width: get-vw-mobile(300px)

.c-menu--slide-left .c-menu__link,
.c-menu--slide-right .c-menu__link,
.c-menu--push-left .c-menu__link,
.c-menu--push-right .c-menu__link 
  padding: get-vw-mobile(12px) get-vw-mobile(24px)

.c-menu--slide-left,
.c-menu--push-left 
  -webkit-transform: translateX(get-vw-mobile(-300px))
  -ms-transform: translateX(get-vw-mobile(-300px))
  transform: translateX(get-vw-mobile(-300px))

.c-menu__close 
  font-size: get-vw-mobile(14px)

.c-buttons 
  margin-bottom: get-vw-mobile(48px)

.c-button 
  padding: get-vw-mobile(12px) get-vw-mobile(24px)
  font-size: get-vw-mobile(14px)
  border: solid 2px $white
// END Header

// Hero
.hr-hero-section
  margin-top: get-vw-mobile(60px)
  height: get-vw-mobile(210px)
  background-position: center
  .hero-overlay
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.5)
    h3
      margin-top: get-vw-mobile(35px)
      margin-bottom: 0
      font-size: get-vw-mobile(13px)
      line-height: get-vw-mobile(16px)
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5)
    h2
      margin-top: 0
      font-size: get-vw-mobile(30px)
      line-height: get-vw-mobile(30px)
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5)
// END Hero

// Partners
.hr-partners-section
  height: get-vw-mobile(150px)
  padding: get-vw-mobile(40px) 0
  -webkit-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  -moz-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  .hr-partners-title
    font-size: get-vw-mobile(14px)
    line-height: get-vw-mobile(18px)
    margin: 0
  .hr-partners-images
    padding-top: get-vw-mobile(20px)
    .partners-images-one
      padding-top: get-vw-mobile(1px)
      margin-right: get-vw-mobile(40px)
      width: auto
      height: get-vw-mobile(30px)
    .partners-images-two
      width: auto
      height: get-vw-mobile(32px)
// END Partners

// Rental One
.hr-rentalone-section
  height: get-vw-mobile(350px)
  background-position: center
  .hr-rentalone-overlay
    .rentalone-logo
      padding-top: get-vw-mobile(100px)
      width: get-vw-mobile(190px)
    .rentalone-button
      width: get-vw-mobile(156px)
      padding: get-vw-mobile(8px) get-vw-mobile(32px)
      border-radius: get-vw-mobile(100px)
      border: solid 2px $white
      margin: get-vw-mobile(30px) auto 0
      a
        height: 100%
        font-size: get-vw-mobile(14px)
        line-height: get-vw-mobile(20px)
// END Real One

// Contact Us
.wpcf7-response-output
  top: get-vw-mobile(-25px)
  left: get-vw-mobile(30px)

.hr-contact-text
  font-size: get-vw-mobile(20px)
  margin-top: get-vw-mobile(50px)
  line-height: get-vw-mobile(26px)
  margin-bottom: get-vw-mobile(3px)
.hr-contact-text-bold
  font-size: get-vw-mobile(20px)
  line-height: get-vw-mobile(26px)
  margin: 0

.hr-phone-box
  border-radius: get-vw-mobile(18px)
  max-width: get-vw-mobile(256px)
  max-height: get-vw-mobile(200px)
  margin: get-vw-mobile(40px) auto get-vw-mobile(20px) auto
  padding: get-vw-mobile(32px) get-vw-mobile(13px)
  box-shadow: 0 1px get-vw-mobile(10px) 0 rgba($black, 0.3)
  -moz-box-shadow: 0 1px get-vw-mobile(10px)0 rgba($black, 0.3)
  -webkit-box-shadow: 0 1px get-vw-mobile(10px) 0 rgba($black, 0.3)
  img
    width: get-vw-mobile(40px)
    height: get-vw-mobile(40px)
  p
    padding-top: get-vw-mobile(10px)
    line-height: get-vw-mobile(23px)
    font-size: get-vw-mobile(18px)
    padding-bottom: get-vw-mobile(10px)

a.hr-phone-num
  font-size: get-vw-mobile(24px)
  line-height: get-vw-mobile(30px)
  font-family: Montserrat-Bold

.hr-contact-form-div
  margin-top: get-vw-mobile(40px)

.wpcf7-form-control-wrap
  margin-bottom: get-vw-mobile(20px)

.wpcf7-form
  p
    margin-right: get-vw-mobile(20px)
  input[type="text"], input[type="email"], input[type="tel"], select
    width: get-vw-mobile(310px)
    height: get-vw-mobile(40px)
    padding: 0 get-vw-mobile(14px)
    font-size: get-vw-mobile(12px)
    line-height: get-vw-mobile(15px)
    border-radius: get-vw-mobile(4px)
    border: 1px solid rgba(143, 143, 143, 1)
    margin-bottom: get-vw-mobile(15px)

  textarea
    width: 100%
    font-size: get-vw-mobile(12px)
    max-height: get-vw-mobile(133px)
    line-height: get-vw-mobile(16px)
    padding: get-vw-mobile(13px) get-vw-mobile(14px)
    border-radius: get-vw-mobile(4px)
    border: 1px solid rgba(143, 143, 143, 1)
  option
    padding-left: get-vw-mobile(14px)
  .your-name, .your-phone
    margin-right: get-vw-mobile(20px)
  .wpcf7-submit
    border-radius: get-vw-mobile(100px)
    height: get-vw-mobile(40px)
    width: get-vw-mobile(158px)
    font-size: get-vw-mobile(14px)
    margin: get-vw-mobile(30px) 0 get-vw-mobile(50px) 0
    padding: 0px get-vw-mobile(46px)
    line-height: get-vw-mobile(20px)
    &:hover
      background-color: rgba($white, .7)

.wpcf7-response-output
  margin-top: 0.5em !important

.wpcf7-validation-errors, .wpcf7-mail-sent-ng
  width: get-vw-mobile(310px)

.wpcf7-mail-sent-ok
  width: get-vw-mobile(310px)
// END Contact Us

// Footer
.hr-footer-section
  height: get-vw-mobile(123px)
  padding: get-vw-mobile(20px) 0
  box-shadow: 0 -8px 10px 0 rgba($black, 0.3)
  img
    width: get-vw-mobile(46px)
    height: get-vw-mobile(47px)
    margin-bottom: get-vw-mobile(8px)
  .hr-footer-text
    font-size: get-vw-mobile(10px)
    line-height: get-vw-mobile(14px)
    margin-bottom: 0
  .hr-footer-link
    font-size: get-vw-mobile(10px)
    line-height: get-vw-mobile(14px)
  .footer-top
    width: get-vw-mobile(28px)
    height: get-vw-mobile(28px)
    right: get-vw-mobile(25px)
    top: get-vw-mobile(14px)
// END Footer

.property-search-wrapper
  bottom: get-vw-mobile(30px)

.property-status
  a
    font-size: 10px
    line-height: 0
    padding: 20px 10px

.property-search
  .input-group
    input
      font-size: 10px
      height: 35px
      padding: 0 10px
  button
    height: 35px
    i
      font-size: 16px

.property-filters
  padding-top: 15px
  padding-bottom: 15px
  width: 100%
  border: solid 1px rgba(74, 74, 74, 0.1)
  .filter
    font-size: 9px

.styled-select
  select
    font-size: 10px
    padding: 5px 9px
    background-size: 15px
    margin-bottom: 18px
    width: 100%
    text-align: center

.property-list
  //margin-top: get-vw-mobile(60px + 60px)
  margin-top: 20px
  .hr-heading
    height: 40px
    font-size: 14px
    padding: 14px 14px 14px 20px
  .hr19-heading
    font-size: 14px
  .property-sorting
    .state-search
      font-size: 14px
      text-align: center
    .results-search
      font-size: 12px
      text-align: center
  select
    font-size: 12px
    width: 258px
    height: 40px
    float: inherit !important
  .choose-search
    float: inherit !important
    border: none !important
    .radio
      label
        font-size: 12px !important

.switch-map
  div
    font-size: 12px

.property
  margin-bottom: 20px
  .property-image
    height: 230px
  .property-info
    padding: 10px 15px 10px
    div
      font-size: 12px
    .property-price
      font-size: 18px
    .property-address
      margin-bottom: 6px

.sort-select
  display: flex
  flex-direction: column
  margin-top: 15px
  select
    order: 2
    margin: 0 auto
  .choose-search
    order: 1

.pagination
  li
    a
      padding: 5px 14px !important

#search-filters
  margin-top: get-vw-mobile(60px)
  background: transparent
  margin-bottom: 0
  height: auto
  .navbar-collapse
    .navbar-nav
      width: 100%
      margin: 0
      .dropdown
        border-left: none !important
        height: auto
        .dropdown-toggle
          height: auto
          vertical-align: inherit
          display: inherit
        a
          text-align: left
          padding: 10px 30px
          font-size: 12px
          br
            display: none
          .caret
            float: right
            margin-top: 8px
      .dropdown:nth-child(2)
        a
          padding: 10px 30px
          font-size: 12px
      li:not(:last-child)
        border-bottom: solid 2px rgba(74, 74, 74, 0.2)
      .input-group
        width: 100%
        .search-box
          font-size: 12px
          height: 40px
          padding-left: 54px
        i
          left: 30px
      .dropdown-menu
        li
          .checkbox
            padding: 5px 10px 5px 40px
            label
              font-size: 12px
      .btn-search
        width: 100%
        height: 40px

.navbar-toggle
  color: $white
  background: $bluebtn
  border-radius: 0
  padding: 5px 15px
  font-size: 16px
  border: none
  margin-bottom: 0
  &:hover, &:focus
    background: $bluebtn !important

.property-list-search
  margin-top: get-vw-mobile(60px + 50px)

.search-map
  height: get-vw-mobile(300px)

#navbar
  min-height: get-vw-mobile(45px) !important

form.invalid
  margin-top: get-vw-mobile(30px)

.wpcf7-response-output
  top: get-vw-mobile(-55px) !important
  left: get-vw-mobile(9px) !important

.menu-wrapper
  position: absolute
  overflow: hidden
  overflow-y: scroll
  top: get-vw-mobile(60px)
  width: 100%
  display: flex
  flex-direction: column

.hr-menu-language, .hr-menu-social, .hr-menu
  position: unset !important

.hr-menu-language
  height: auto !important
  margin-bottom: get-vw-mobile(20px)


// Offices
#mre-offices
  height: get-vw-mobile(400px)
  .swiper-container-flags
    height: 100%
  h4
    margin: get-vw-mobile(51px) 0 get-vw-mobile(40px) 0
    font-size: get-vw-mobile(22px)
    line-height: get-vw-mobile(20px)
  .flags-indicators
    .flag-image
      height: get-vw-mobile(43px)
      margin: 0 get-vw-mobile(10.5px) get-vw-mobile(10px) get-vw-mobile(10.5px)
      width: get-vw-mobile(43px)
    .flag-image-opacity
      opacity: .6
  .swiper-wrapper
    width: 100%
    .swiper-slide
      margin: 0 auto
      height: get-vw-mobile(180px)
      width: 100% !important
      display: block
      .office-detail
        width: get-vw-mobile(275px)
        h5
          font-size: get-vw-mobile(12px)
          line-height: get-vw-mobile(20px)
          margin: 0
// END Offices

