.visible-desktop
    display: none !important
.visible-mobile
    display: block !important

header
    .container
        width: 90%
        .header-logo
            img
                height: 33px
                width: 87px

footer
    height: 224px
    .footer-logo
        img
            height: 48px
            width: 142px
    .footer-copy
        h5
            font-size: 10px
    .footer-icons
        a
            .fa
                font-size: 1.3em
                width: 30px
                height: 30px
                line-height: 30px

#contact-us
    .title
        h1
            font-size: 19px
            .first
                display: block
    .inner-section
        .call-us
            flex: 1 100%
            padding-bottom: 30px
            margin-top: 0
            .content
                .centered-content
                    h2
                        font-size: 18px
                        margin: 0 auto
                    img
                        height: 64px
                        width: 72px
        .the-form
            flex: 1 100%
            margin-left: 0
            padding: 30px 0
            .wpcf7
                .form-elements-container
                    display: flex
                    flex-flow: column nowrap
                    padding: 0
                    p
                        padding: 0 5px
                    input:not([type="submit"]), select, textarea, input[type="submit"]
                        font-size: 14px

@media only screen and (max-width: 379px)
    #contact-us
        .inner-section
            .call-us
                .content
                    height: 200px
                    width: 260px
                    margin: 0 auto