#blog-list-categories
  height: get-vw-mobile(254px)
  margin-top: get-vw-mobile(60px)
  .blog-list-category-title
    font-size: get-vw-mobile(12px)
    line-height: get-vw-mobile(20px)
    margin-top: get-vw-mobile(30px)
    opacity: 0.6
  .blog-list-category-text
    font-size: get-vw-mobile(22px)
    line-height: get-vw-mobile(20px)
  .swiper-container-blog-categories
    height: get-vw-mobile(128px)
    margin-bottom: get-vw-mobile(40px)
    margin-top: get-vw-mobile(20px)
    width: get-vw-mobile(128px)
    .swiper-wrapper
      width: get-vw-mobile(128px)
      .swiper-slide
        border-radius: 100%
        width: get-vw-mobile(128px) !important
        height: get-vw-mobile(128px)
        margin: 0
        img
          height: get-vw-mobile(128px)
          width: get-vw-mobile(128px)
        .swiper-overlay
          border-radius: 50%
          height: get-vw-mobile(128px)
          top: 0
          width: get-vw-mobile(128px)
    .swiper-button-prev, .swiper-button-next
      font-size: get-vw-mobile(24px)
      height: get-vw-mobile(24px)
      top: 72%
      width: get-vw-mobile(20px)
    .swiper-button-prev
      left: get-vw-mobile(40px)
    .swiper-button-next
      right: get-vw-mobile(40px)
.blog-list-triangle
  height: get-vw-mobile(12px)
  left: 50%
  top: -7px
  transform: translateX(-50%)
  width: get-vw-mobile(21px)
#blog-list
  .input-group
    border-bottom: 2px solid $select-grey
    display: table
    height: get-vw-mobile(40px)
    margin-top: get-vw-mobile(20px)
    width: get-vw-mobile(310px)
    i
      height: get-vw-mobile(11px)
      padding-left: get-vw-mobile(14px)
      padding-top: get-vw-mobile(12px)
      width: get-vw-mobile(11px)
      font-size: get-vw-mobile(11px)
    input[type="text"]
      font-size: get-vw-mobile(12px)
      height: get-vw-mobile(40px)
      line-height: get-vw-mobile(15px)
      padding-top: get-vw-mobile(16px)
      padding-left: get-vw-mobile(10px)
  .blog-search, .blog-select
    padding: 0
  .blog-filter
    border: solid 2px $select-grey
    font-size: get-vw-mobile(12px)
    height: get-vw-mobile(40px)
    margin-bottom: get-vw-mobile(10px)
    margin-top: get-vw-mobile(20px)
    width: get-vw-mobile(310px)
  .blog-post
    height: get-vw-mobile(314px)
    margin-top: get-vw-mobile(20px)
    padding: 0
    width: get-vw-mobile(310px)
    .blog-image
      height: get-vw-mobile(132px)
      .blog-category
        bottom: 0
        font-size: get-vw-mobile(10px)
        height: get-vw-mobile(30px)
        line-height: get-vw-mobile(32px)
        min-width: get-vw-mobile(95px)
        padding: 0 get-vw-mobile(10px)
    .blog-text
      border: solid 1px #cfcfcf
      height: get-vw-mobile(182px)
      padding: get-vw-mobile(20px) get-vw-mobile(17px) 0 get-vw-mobile(26px)
      .blog-text-title
        font-size: get-vw-mobile(14px)
        line-height: get-vw-mobile(20px)
      .blog-text-author
        font-size: get-vw-mobile(12px)
        line-height: get-vw-mobile(16px)
        opacity: 0.5
        .blog-text-date, .blog-text-comments
          padding-left: get-vw-mobile(7px)
      .blog-text-summary
        font-size: get-vw-mobile(12px)
        line-height: get-vw-mobile(20px)
        margin-top: get-vw-mobile(5px)
  #blog-pagination
    .pagination
      margin: get-vw-mobile(40px) 0 get-vw-mobile(60px) 0
      li
        font-size: get-vw-mobile(16px)
        line-height: get-vw-mobile(21px)
        a
          height: get-vw-mobile(35px)
          padding-top: get-vw-mobile(7px)
          width: get-vw-mobile(35px)
#blog-recommended-posts
  height: get-vw-mobile(350px)
  background-position-x: 72%
  .recommended-posts-overlay
    width: 100%
    height: 100%
  .recommended-posts-title
    font-size: get-vw-mobile(16px)
    line-height: get-vw-mobile(20px)
    padding-top: get-vw-mobile(40px)
    text-align: center
  .swiper-container-blog-most-viewed
    height: get-vw-mobile(202px)
    margin-bottom: get-vw-mobile(60px)
    margin-top: get-vw-mobile(30px)
    width: get-vw-mobile(256px)
    .swiper-wrapper
      .swiper-slide
        width: get-vw-mobile(256px) !important
        padding: 0 5px
        .blog-most-viewed-image
          height: get-vw-mobile(109px)
          .blog-most-viewed-category
            bottom: 0
            font-size: get-vw-mobile(10px)
            height: get-vw-mobile(30px)
            line-height: get-vw-mobile(30px)
            min-width: get-vw-mobile(95px)
            padding: 0 get-vw-mobile(10px)
        .blog-most-viewed-text
          border: solid 1px #cfcfcf
          height: get-vw-mobile(93px)
          padding: get-vw-mobile(20px) get-vw-mobile(26px) 0 get-vw-mobile(26px)
          a
            .blog-most-viewed-text-title
              font-size: get-vw-mobile(14px)
              line-height: get-vw-mobile(20px)
          .blog-most-viewed-text-author
            font-size: get-vw-mobile(12px)
            line-height: get-vw-mobile(16px)
            opacity: 0.5
            width: get-vw-mobile(205px)
            .blog-most-viewed-text-date, .blog-most-viewed-text-comments
              padding-left: get-vw-mobile(5px)
    .swiper-button-prev, .swiper-button-next
      font-size: get-vw-mobile(20px)
      height: get-vw-mobile(20px)
      top: 57%
      width: get-vw-mobile(20px)
    .swiper-button-prev
      left: get-vw-mobile(20px)
    .swiper-button-next
      right: get-vw-mobile(20px)