// Header

.logo-header
  width: 66.11111111111111vw

.swiper-container
  height: auto

.logo-header
  height: 80px
  left: 29.85556vw
  width: 70.11111vw
  .img-div
    height: 80px

.content
  padding-top: 80px

.swiper-container-hero
  .swiper-button-prev, .swiper-button-next
    top: 48.2% !important

#ala-header .swiper-container-hero
  padding-top: 0

.navbar-fixed-top
  position: absolute

.menu
  //min-width: get-vw-mobileLandscape(100px)
  width: 100%
  //max-width: get-vw-mobileLandscape(300px)
  height: get-vw-mobileLandscape(582px)
  .al-menu
    top: get-vw-mobileLandscape(80px)
    left: 0
    padding: 0
    width: 100%
    .al-menu-item
      border-bottom: 2px solid rgba(127, 129, 130, 0.15)
      padding: get-vw-mobileLandscape(20px) 0 0 get-vw-mobileLandscape(30px)
      height: get-vw-mobileLandscape(60px)
      font-size: get-vw-mobileLandscape(16px)
      line-height: get-vw-mobileLandscape(20px)
    &:first-child
      border-top: 2px solid rgba(127, 129, 130, 0.15)
  .al-menu-language
    width: 100%
    bottom: get-vw-mobileLandscape(135px)
    left: 0
    height: get-vw-mobileLandscape(60px)
    .al-menu-language-text
      padding-top: get-vw-mobileLandscape(20px)
      font-size: get-vw-mobileLandscape(12px)
      line-height: get-vw-mobileLandscape(20px)
    .al-menu-language-flag
      margin: get-vw-mobileLandscape(15px) get-vw-mobileLandscape(8px) 0 get-vw-mobileLandscape(8px)
      opacity: 0.4
      width: get-vw-mobileLandscape(32px)
      height: get-vw-mobileLandscape(32px)
    .language-flag-active
      opacity: 1
  .al-menu-social
    display: block
    height: get-vw-mobileLandscape(52px)
    bottom: 0
    width: 100%
    text-align: center
    .menu-social-icons
      font-size: get-vw-mobileLandscape(22px)
      padding: 0
      text-align: center
      .menu-social-icon
        height: get-vw-mobileLandscape(37px)
        width: get-vw-mobileLandscape(37px)

.menu-button
  top: 0
  left: 0
  padding: get-vw-mobileLandscape(20px) 0 get-vw-mobileLandscape(27px) get-vw-mobileLandscape(20px)
  height: get-vw-mobileLandscape(60px)
  -webkit-transition: .3s
  transition: .3s
  z-index: 2
  width: 15.28vw

#nav-icon4
  width: get-vw-mobileLandscape(30px)
  top: 40%

#nav-icon4
  span
    height: get-vw-mobileLandscape(3px)
    width: get-vw-mobileLandscape(30px)

#nav-icon4 span:nth-child(1)
  top: 0

#nav-icon4 span:nth-child(2)
  top: get-vw-mobileLandscape(10px)

#nav-icon4 span:nth-child(3)
  top: get-vw-mobileLandscape(20px)

#nav-icon4.open span:nth-child(1)
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)
  top: get-vw-mobileLandscape(3px)
  left: get-vw-mobileLandscape(3px)
  height: 5px
  width: get-vw-mobileLandscape(26px)

#nav-icon4.open
  top: 40%

#nav-icon4.open span:nth-child(2)
  width: 0%
  opacity: 0

#nav-icon4.open span:nth-child(3)
  -webkit-transform: rotate(-45deg)
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  transform: rotate(-45deg)
  top: get-vw-mobileLandscape(22px)
  left: get-vw-mobileLandscape(3px)
  height: 5px
  width: get-vw-mobileLandscape(26px)

.navbar-fixed-top
  position: absolute

.menu-button
  height: get-vw-mobileLandscape(80px)

#ala-header
  .logo-header
    height: get-vw-mobileLandscape(80px)
    .img-div
      height: get-vw-mobileLandscape(80px)
      img
        height: get-vw-mobileLandscape(55px)
        width: get-vw-mobileLandscape(137px)
  .social-header
    height: get-vw-mobileLandscape(80px)

.swiper-container-hero
  margin-top: get-vw-mobileLandscape(80px)

.o-container
  margin: 0 auto
  padding: 0 get-vw-mobileLandscape(12px)
  max-width: get-vw-mobileLandscape(960px)

.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right
  width: get-vw-mobileLandscape(280px)

.c-menu--slide-left .c-menu__link,
.c-menu--slide-right .c-menu__link,
.c-menu--push-left .c-menu__link,
.c-menu--push-right .c-menu__link
  padding: get-vw-mobileLandscape(12px) get-vw-mobileLandscape(24px)

.c-menu--slide-left,
.c-menu--push-left
  -webkit-transform: translateX(get-vw-mobileLandscape(-280px))
  -ms-transform: translateX(get-vw-mobileLandscape(-280px))
  transform: translateX(get-vw-mobileLandscape(-280px))

.c-menu__close
  font-size: get-vw-mobileLandscape(14px)

.c-buttons
  margin-bottom: get-vw-mobileLandscape(48px)

.c-button
  padding: get-vw-mobileLandscape(12px) get-vw-mobileLandscape(24px)
  font-size: get-vw-mobileLandscape(14px)
  border: solid 2px $white

.menu-wrapper
  position: absolute
  overflow: hidden
  overflow-y: scroll
  top: get-vw-mobileLandscape(80px)
  width: 100%
  display: flex
  flex-direction: column

.al-menu-language, .al-menu-social, .al-menu
  position: unset !important

.al-menu-language
  height: auto !important
  margin-bottom: 20px


// END Header

