// Header

.logo-header
  width: 66.11111111111111vw

.swiper-container
  height: auto

.logo-header
  height: 80px
  left: 29.85556vw
  width: 70.11111vw
  .img-div
    height: 80px

.content
  padding-top: 80px

.swiper-container-hero
  .swiper-button-prev, .swiper-button-next
    top: 592px !important

#ala-header .swiper-container-hero
  padding-top: 0
// END Header