// Header
.swiper-container
  height: 172.77777777777777vw

.content
  padding-top: 16.666666666666668vw

#al-carousel-hero
  height: 156.11111111111111vw
  .item
    .item-overlay
      top: 0
    img
      height: 156.11111111111111vw
    .carousel-caption
      font-size: 6.666666666666666vw
      letter-spacing: 5vw
      padding: 0
      top: 74.44444444444444vw
  .carousel-control
    top: 74.44444444444444vw
    img
      height: 7.777777777777778vw
      width: 7.777777777777778vw
    &:hover
      opacity: 1
  .right
    right: 4.166666666666667vw
  .left
    left: 4.166666666666667vw
// END Header

// Generals Classes
.al-text-white
  font-size: 10px
// END Generals Classes

// Footer
.al-footer-container
  height: 126px
  padding: 27px 0
  img
    max-width: 80px
// END Footer

// Contact Us
.al-contact-div
  height: auto

.al-contact-text, .al-contact-text-bold
  font-size: 18px

.al-phone-box
  padding: 32px 40px
  max-width: calc(100vw - 50px)
  img
    max-width: 40px
  p
    font-size: 18px

a.al-phone-num
  font-size: 24px

.wpcf7-form
  input[type="text"], input[type="email"], input[type="tel"], select
    height: 40px
    font-size: 12px
    padding: 0 14px
  textarea
    padding: 14px
    font-size: 12px
  .wpcf7-submit
    font-size: 14px
    padding: 0px 47px
    margin-bottom: 50px

.al-go-top-div
  top: 20px
  width: 40px
  right: 20px
  height: 40px
// END Contact Us

// Partners
.al-partners-section
  padding: 38px 0

.al-partners-title
  font-size: 12px

.al-partners-subtitle
  font-size: 18px

.partners-images-one
  width: 13%
  margin-right: 34px

.partners-images-two
  width: 26%
// END Partners

// Our offices
.al-swiper-contact
  height: 84.72222222222221vw
  .flags-indicators
    padding-top: 16.666666666666668vw
    .flag-image
      height: 11.944444444444445vw
      margin: 0 1.9444444444444444vw
      width: 11.944444444444445vw
  h4
    font-size: 3.333333333333333vw
    line-height: 5vw
    margin: 6.666666666666666vw 0 5.555555555555555vw 0
  .swiper-wrapper
    width: 71.38888888888889vw
    .swiper-slide
      width: 71.38888888888889vw
      .office-detail
        width: 71.38888888888889vw
        h5
          font-size: 3.333333333333333vw
          line-height: 5.555555555555555vw
          margin: 0
// END Our offices
