// Header
.swiper-container
  height: 172.77777777777777vw

.menu-button
  padding-top: 15px
  margin-left: -25px
  height: 16.666666666666668vw

.menu
  min-width: 27.77777777777778vw
  width: 70%
  max-width: 70.83333333333333vw
  z-index: 1
  .al-menu
    top: 32.5vw
    padding: 0
    width: 100%
    .al-menu-item
      border-bottom: 2px solid rgba(255, 255, 255, 0.15)
      padding: 5.555555555555555vw 0 0 8.333333333333334vw
      height: 16.666666666666668vw
      font-size: 5vw
      line-height: 5.555555555555555vw
    &:first-child
      border-top: 2px solid rgba(255, 255, 255, 0.15)
  .al-menu-language
    bottom: 0
    height: 59.44444444444444vw
    .al-menu-language-text
      padding-top: 8.333333333333334vw
      font-size: 3.333333333333333vw
      line-height: 5.555555555555555vw
    .al-menu-language-flag
      margin: 4.166666666666667vw 2.2222222222222223vw 0 2.2222222222222223vw
      opacity: 0.4
      width: 8.88888888888889vw
      height: 8.88888888888889vw
    .language-flag-active
      opacity: 1

.logo-header
  left: 30.555555555555554vw
  height: 16.666666666666668vw
  width: calc(100vw - 30.43vw)

.img-div
  height: 16.666666666666668vw
  width: calc(100vw - 61.86vw)
  img
    max-width: 22.22222222222222vw
    max-height: 7.5vw

.content
  padding-top: 16.666666666666668vw

#al-carousel-hero
  height: 156.11111111111111vw
  .item
    background-position: 30%
    height: 156.11111111111111vw
    .item-overlay
      top: 0
    img
      height: 156.11111111111111vw
    .carousel-caption
      font-size: 6.666666666666666vw
      letter-spacing: 2vw
      padding: 0
      top: 74.44444444444444vw
  .carousel-control
    top: 74.44444444444444vw
    img
      height: 7.777777777777778vw
      width: 7.777777777777778vw
    &:hover
      opacity: 1
  .right
    right: 4.166666666666667vw
    height: 4.166666666666667vw
  .left
    left: 4.166666666666667vw
    height: 4.166666666666667vw


.al-projects
  height: 22.22222222222222vw
  margin-top: 0.8333333333333333vw
  padding: 0
  .al-project-list
    height: 100%
    padding: 0
    .al-project-list-item
      margin: 0 0.8333333333333333vw
      height: 100%
      width: 27.77777777777778vw
      .item-text
        opacity: 0.4
        font-size: 2.7777777777777777vw
        color: #ffffff
        margin-top: 9.166666666666666vw
      .item-active
        opacity: 1
      .triangle
        width: 5.555555555555555vw
        height: 2.2222222222222223vw
        opacity: 0
        bottom: -1.9444444444444444vw
        left: 50%
        transform: translateX(-50%)
// END Header

// Generals Classes
.al-text-white
  font-size: 10px
// END Generals Classes

// Footer
.al-footer-container
  height: 126px
  padding: 27px 0
  img
    max-width: 80px
// END Footer

// Contact Us
.al-contact-form-div
  padding: 0

.al-contact-div
  height: auto

.al-contact-text, .al-contact-text-bold
  font-size: 18px

.al-phone-box
  padding: 32px 40px
  max-width: calc(100vw - 50px)
  img
    max-width: 40px
  p
    font-size: 18px

a.al-phone-num
  font-size: 24px

.wpcf7-form
  input[type="text"], input[type="email"], input[type="tel"], select
    height: 40px
    font-size: 12px
    padding: 0 14px
    margin-bottom: 4.166666666666667vw
  textarea
    padding: 14px
    font-size: 12px
  .wpcf7-submit
    font-size: 14px
    padding: 0px 47px
    margin-bottom: 50px

.al-go-top-div
  top: 20px
  width: 40px
  right: 20px
  height: 40px
// END Contact Us

// Partners
.al-partners-section
  padding: 38px 0

.al-partners-title
  font-size: 12px

.al-partners-subtitle
  font-size: 18px

.partners-images-one
  width: 13%
  margin-right: 34px

.partners-images-two
  width: 26%
// END Partners

// Our offices
.al-swiper-contact
  height: 84.72222222222221vw
  .flags-indicators
    padding-top: 16.666666666666668vw
    .flag-image
      height: 11.944444444444445vw
      margin: 0 1.9444444444444444vw
      width: 11.944444444444445vw
  h4
    font-size: 3.333333333333333vw
    line-height: 5vw
    margin: 6.666666666666666vw 0 5.555555555555555vw 0
  .swiper-wrapper
    width: 71.38888888888889vw
    .swiper-slide
      width: 71.38888888888889vw
      .office-detail
        width: 71.38888888888889vw
        h5
          font-size: 3.333333333333333vw
          line-height: 5.555555555555555vw
          margin: 0
// END Our offices

// Properties
.al-properties-section
  .container-properties
    width: 100%
    padding: 0 2.7777777777777777vw
  .properties-country-filter
    font-size: 4.444444444444445vw
    line-height: 6.944444444444445vw
    margin: 8.88888888888889vw 4.166666666666667vw 9.444444444444445vw 4.166666666666667vw
    width: 21.44444vw
  .filter-left
    border-right: 2px solid #7f8182
    margin-right: 0
    opacity: 0.5
    padding-right: 4.166666666666667vw
  .properties-filter
    border: solid 2px rgba(74, 74, 74, 0.4)
    font-size: 3.333333333333333vw
    height: 10.555555555555555vw
    line-height: 4.166666666666667vw
    width: 86.11111111111111vw
  .properties-list
    margin-top: 8.333333333333334vw
    .property-image
      width: 86.11111111111111vw
      height: 83.61111111111111vw
      margin-bottom: 5.277777777777778vw
      margin-right: 0
      &:nth-child(3n+3)
        margin-right: 0
        margin-bottom: 5.555555555555555vw
      .property-overlay
        opacity: 1
        bottom: 0
        width: 100%
        height: 29.444444444444443vw
        background: rgba(0, 0, 0, 0.8)
        transition: all ease .3s
        -moz-transition: all ease .3s
        -ms-transition: all ease .3s
        -o-transition: all ease .3s
        -webkit-transition: all ease .3s
        .property-title
          font-size: 5vw
          margin: 4.444444444444445vw 0 1.1111111111111112vw 0
        .property-address, .property-city
          font-size: 3.888888888888889vw
          line-height: 4.166666666666667vw
          opacity: 0.5
          margin: 0
        .property-category
          margin-top: 2.7777777777777777vw
          font-size: 3.333333333333333vw
          line-height: 3.333333333333333vw
          opacity: 0.6
#al-pagination
  .pagination
    margin: 16.666666666666668vw 0 22.22222222222222vw 0
    li
      font-size: 4.444444444444445vw
      line-height: 5.833333333333333vw
      a
        height: 9.722222222222221vw
        padding-top: 1.9444444444444444vw
        width: 9.722222222222221vw
// END Properties
