// General
.container-ala
  width: get-vw-mobile(310px)
// END General

// Swiper General
body
  font-size: get-vw-mobile(14px)
  margin: 0
  padding: 0

.swiper-container-menu
  width: 100%
  height: auto

.swiper-slide
  font-size: get-vw-mobile(18px)

.menu
  //min-width: get-vw-mobile(100px)
  width: 100%
  max-width: get-vw-mobile(300px)
  height: get-vw-mobile(582px)
  .al-menu
    top: get-vw-mobile(60px)
    left: 0
    padding: 0
    width: 100%
    .al-menu-item
      border-bottom: 2px solid rgba(127, 129, 130, 0.15)
      padding: get-vw-mobile(20px) 0 0 get-vw-mobile(30px)
      height: get-vw-mobile(60px)
      font-size: get-vw-mobile(16px)
      line-height: get-vw-mobile(20px)
    &:first-child
      border-top: 2px solid rgba(127, 129, 130, 0.15)
  .al-menu-language
    width: 100%
    bottom: get-vw-mobile(160px)
    left: 0
    height: get-vw-mobile(60px)
    .al-menu-language-text
      padding-top: get-vw-mobile(20px)
      font-size: get-vw-mobile(12px)
      line-height: get-vw-mobile(20px)
    .al-menu-language-flag
      margin: get-vw-mobile(15px) get-vw-mobile(8px) 0 get-vw-mobile(8px)
      opacity: 0.4
      width: get-vw-mobile(32px)
      height: get-vw-mobile(32px)
    .language-flag-active
      opacity: 1
  .al-menu-social
    display: block
    height: get-vw-mobile(52px)
    bottom: 0
    width: 100%
    text-align: center
    .menu-social-icons
      font-size: get-vw-mobile(22px)
      padding: 0
      text-align: center
      .menu-social-icon
        height: get-vw-mobile(37px)
        width: get-vw-mobile(37px)

.content
  width: 100%

.menu-button
  top: 0
  left: 0
  padding: get-vw-mobile(20px) 0 get-vw-mobile(27px) get-vw-mobile(20px)
  height: get-vw-mobile(60px)
  -webkit-transition: .3s
  transition: .3s
  z-index: 2
  width: 15.28vw

.menu-button .bar:nth-of-type(1)
  margin-top: 0

.menu-button .bar:nth-of-type(3)
  margin-bottom: 0

.bar
  width: get-vw-mobile(30px)
  height: get-vw-mobile(4px)
  margin: get-vw-mobile(6px) auto
  border-radius: get-vw-mobile(10px)
  -webkit-transition: .3s
  transition: .3s

.menu-button:hover .bar:nth-of-type(1)
  -webkit-transform: translateY(1.5px) rotate(-4.5deg)
  -ms-transform: translateY(1.5px) rotate(-4.5deg)
  transform: translateY(1.5px) rotate(-4.5deg)

.menu-button:hover .bar:nth-of-type(2)
  opacity: .9

.menu-button:hover .bar:nth-of-type(3)
  -webkit-transform: translateY(-1.5px) rotate(4.5deg)
  -ms-transform: translateY(-1.5px) rotate(4.5deg)
  transform: translateY(-1.5px) rotate(4.5deg)

.cross .bar:nth-of-type(1)
  -webkit-transform: translateY(get-vw-mobile(15px)) rotate(-45deg)
  -ms-transform: translateY(get-vw-mobile(15px)) rotate(-45deg)
  transform: translateY(get-vw-mobile(15px)) rotate(-45deg)

.cross .bar:nth-of-type(2)
  opacity: 0

.cross .bar:nth-of-type(3)
  -webkit-transform: translateY(get-vw-mobile(-15px)) rotate(45deg)
  -ms-transform: translateY(get-vw-mobile(-15px)) rotate(45deg)
  transform: translateY(get-vw-mobile(-15px)) rotate(45deg)

.cross:hover .bar:nth-of-type(1)
  -webkit-transform: translateY(get-vw-mobile(13.5px)) rotate(-40.5deg)
  -ms-transform: translateY(get-vw-mobile(13.5px)) rotate(-40.5deg)
  transform: translateY(get-vw-mobile(13.5px)) rotate(-40.5deg)

.cross:hover .bar:nth-of-type(2)
  opacity: .1

.cross:hover .bar:nth-of-type(3)
  -webkit-transform: translateY(get-vw-mobile(-13.5px)) rotate(40.5deg)
  -ms-transform: translateY(get-vw-mobile(-13.5px)) rotate(40.5deg)
  transform: translateY(get-vw-mobile(-13.5px)) rotate(40.5deg)
// END Swiper General

// Header
#nav-icon4
  width: get-vw-mobile(26px)

#nav-icon4
  span
    height: get-vw-mobile(3px)
    width: get-vw-mobile(26px)

#nav-icon4 span:nth-child(1)
  top: get-vw-mobile(5px)

#nav-icon4 span:nth-child(2)
  top: get-vw-mobile(12px)

#nav-icon4 span:nth-child(3)
  top: get-vw-mobile(20px)

#nav-icon4.open span:nth-child(1)
  -webkit-transform: rotate(45deg)
  -moz-transform: rotate(45deg)
  -o-transform: rotate(45deg)
  transform: rotate(45deg)
  top: get-vw-mobile(3px)
  left: get-vw-mobile(3px)
  height: 5px
  width: get-vw-mobile(26px)

#nav-icon4.open span:nth-child(2)
  width: 0%
  opacity: 0

#nav-icon4.open span:nth-child(3)
  -webkit-transform: rotate(-45deg)
  -moz-transform: rotate(-45deg)
  -o-transform: rotate(-45deg)
  transform: rotate(-45deg)
  top: get-vw-mobile(22px)
  left: get-vw-mobile(3px)
  height: 5px
  width: get-vw-mobile(26px)

#nav-icon4.open
  top: 30%

#ala-header
  .logo-header
    top: 0
    height: get-vw-mobile(60px)
    left: 15.28vw
    width: 48.33vw
    .img-div
      width: 27vw
      height: get-vw-mobile(60px)
      img
        width: get-vw-mobile(97px)
        height: get-vw-mobile(32px)
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
  .social-header
    top: 0
    left: 63.61vw
    height: get-vw-mobile(60px)
    width: 36.39vw
    z-index: 2
    .social-icons
      display: none
  .swiper-container-hero
    margin-top: get-vw-mobile(60px)
    padding-top: 0
    .swiper-slide
      height: get-vw-mobile(562px)
      background-position: 50%
      .slide-overlay
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.4)
      .slide-text
        top: get-vw-mobile(246px)
        left: 50%
        transform: translateX(-50%)
        width: get-vw-mobile(245px)
        h2
          font-size: get-vw-mobile(24px)
          text-shadow: 0 2px get-vw-mobile(8px) rgba(0, 0, 0, 0.8)
    .swiper-button-prev, .swiper-button-next
      font-size: get-vw-mobile(24px)
      height: get-vw-mobile(28px)
      width: get-vw-mobile(28px)
      top: 50%
      transform: translateY(-50%)
    .swiper-button-prev
      left: get-vw-mobile(25px)
    .swiper-button-next
      right: get-vw-mobile(25px)
  .hero-button
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    z-index: 1
    width: get-vw-mobile(63px)
    height: get-vw-mobile(28px)
// END Header

// Generals Classes
.al-text-white
  font-size: 10px
// END Generals Classes


// Properties
.al-properties-section
  .properties-country-filter
    font-size: get-vw-mobile(16px)
    line-height: get-vw-mobile(17px)
    margin: get-vw-mobile(32px) get-vw-mobile(15px) get-vw-mobile(34px) 0
    padding-left: 0
    width: get-vw-mobile(100px)
  .filter-left
    border-right: 2px solid $grey-1
    margin: get-vw-mobile(32px) 0 get-vw-mobile(34px) get-vw-mobile(15px)
    opacity: 0.5
    padding-right: 0
    width: get-vw-mobile(100px)
    padding-left: 0
  .btn-filter
    border: solid 2px rgba(74, 74, 74, 0.4)
    font-size: get-vw-mobile(12px)
    line-height: get-vw-mobile(15px)
    height: get-vw-mobile(38px)
    width: get-vw-mobile(310px)
    .caret
      right: get-vw-mobile(16px)
      top: get-vw-mobile(17px)
      position: absolute
  .properties-list
    margin-top: get-vw-mobile(30px)
    .property-image
      width: get-vw-mobile(310px)
      height: get-vw-mobile(301px)
      margin-bottom: get-vw-mobile(19px) !important
      margin-right: 0

      &:hover
        .property-overlay
          opacity: 1
      .property-overlay
        opacity: 1
        bottom: 0
        width: 100%
        height: get-vw-mobile(106px)
        background: rgba(0, 0, 0, 0.8)
        transition: all ease .3s
        -moz-transition: all ease .3s
        -ms-transition: all ease .3s
        -o-transition: all ease .3s
        -webkit-transition: all ease .3s
        .property-title
          font-size: get-vw-mobile(18px)
          margin: get-vw-mobile(16px) 0 get-vw-mobile(4px) 0
        .property-address, .property-city
          font-size: get-vw-mobile(14px)
          line-height: get-vw-mobile(16px)
          opacity: 0.5
          margin: 0
        .property-category
          margin-top: get-vw-mobile(10px)
          font-size: get-vw-mobile(12px)
          line-height: get-vw-mobile(10px)
          opacity: 0.6
#al-pagination
  .pagination
    margin: get-vw-mobile(40px) 0 get-vw-mobile(80px) 0
    li
      font-size: get-vw-mobile(16px)
      line-height: get-vw-mobile(21px)
      a
        height: get-vw-mobile(35px)
        padding-top: get-vw-mobile(10px)
        width: get-vw-mobile(35px)


#al-pagination
  .wp-pagenavi
    margin: get-vw-mobile(40px) 0 get-vw-mobile(80px) 0
    span, a
      height: get-vw-mobile(35px)
      padding-top: get-vw-mobile(8px)
      width: get-vw-mobile(35px)
      font-size: get-vw-mobile(16px)
      line-height: get-vw-mobile(21px)
// END Properties

// Projects
.al-projects
  height: get-vw-mobile(80px)
  margin-top: get-vw-mobile(3px)
  .al-project-list
    height: 100%
    width: 100%
    .al-project-list-item
      margin: 0 get-vw-mobile(15px)
      height: 100%
      width: get-vw-mobile(75px)
      .item-text
        opacity: 0.4
        font-size: get-vw-mobile(14px)
        line-height: get-vw-mobile(18px)
        margin-top: get-vw-mobile(24px)
      .item-active
        opacity: 1
      .triangle
        width: get-vw-mobile(20px)
        height: get-vw-mobile(8px)
        opacity: 0
        bottom: get-vw-mobile(-7px)
        left: 50%
        transform: translateX(-50%)
// END Projects

// Partners
.al-partners-section
  height: get-vw-mobile(169px)
  padding: get-vw-mobile(40px) 0
  box-shadow: -4px -10px get-vw-mobile(23px) -7px rgba($black,0.37)
  -moz-box-shadow: -4px -10px get-vw-mobile(23px) -7px rgba($black,0.37)
  -webkit-box-shadow: -4px -10px get-vw-mobile(23px) -7px rgba($black,0.37)
  .al-partners-title
    font-size: get-vw-mobile(17px) 
    line-height: get-vw-mobile(19px)
    margin: 0
  .partners-images
    padding-top: get-vw-mobile(20px)
    .partners-images-one
      margin-right: get-vw-mobile(34px)
      width: auto
      height: get-vw-mobile(50px)
    .partners-images-two
      width: auto
      height: get-vw-mobile(32px)
// END Partners

// Offices
#al-offices
  height: auto
  .swiper-container-flags
    height: 100%
  h4
    margin: get-vw-mobile(56px) 0 get-vw-mobile(20px) 0
    font-size: get-vw-mobile(20px)
    line-height: get-vw-mobile(30px)
  .flags-indicators
    .flag-image
      height: get-vw-mobile(43px)
      margin: 0 get-vw-mobile(7px) get-vw-mobile(20px) get-vw-mobile(7px)
      width: get-vw-mobile(43px)
    .flag-image-opacity
      opacity: .6
  .swiper-wrapper
    width: 100%
    .swiper-slide
      margin: 0 auto get-vw-mobile(40px)
      height: get-vw-mobile(160px)
      width: 100%
      .office-detail
        width: get-vw-mobile(260px)
        margin: 0 0 get-vw-mobile(10px) 0
        h5
          font-size: get-vw-mobile(12px)
          line-height: get-vw-mobile(20px)
          margin: 0
// END Offices

// Contact Us
.wpcf7-response-output
  top: get-vw-mobile(-25px)
  left: get-vw-mobile(30px)

.al-contact-div
  //height: get-vw-mobile(836px)
  padding: get-vw-mobile(40px) 0 get-vw-mobile(50px) 0
  .al-contact-text
    font-size: get-vw-mobile(14px)
    line-height: get-vw-mobile(26px)
    margin-bottom: 2px
  .al-contact-text-bold
    font-size: get-vw-mobile(18px)
    line-height: get-vw-mobile(26px)
    margin: 0
  .al-phone-box
    width: get-vw-mobile(310px)
    height: get-vw-mobile(200px)
    margin: get-vw-mobile(30px) auto get-vw-mobile(15px) auto
    padding: get-vw-mobile(31px) get-vw-mobile(58px)
    box-shadow: 0 1px 10px 0 rgba($black, 0.3)
    -moz-box-shadow: 0 1px 10px 0 rgba($black, 0.3)
    -webkit-box-shadow: 0 1px 10px 0 rgba($black, 0.3)
    img
      width: get-vw-mobile(40px)
      height: get-vw-mobile(40px)
    p
      margin-top: get-vw-mobile(10px)
      line-height: get-vw-mobile(23px)
      font-size: get-vw-mobile(18px)
      margin-bottom: get-vw-mobile(11px)
    a.al-phone-num
      font-size: get-vw-mobile(24px)
      font-weight: bold
      line-height: get-vw-mobile(30px)
  .al-contact-form-div
    margin: get-vw-mobile(25px) get-vw-mobile(25px) 0 get-vw-mobile(25px)
    width: get-vw-mobile(310px)
    .wpcf7-form-control-wrap
      margin-bottom: get-vw-mobile(20px)
    .wpcf7-form
      p
        margin-right: get-vw-mobile(20px)
      input[type="text"], input[type="email"], input[type="tel"], select
        width: get-vw-mobile(310px)
        height: get-vw-mobile(40px)
        padding: 0 get-vw-mobile(14px)
        font-size: get-vw-mobile(12px)
        line-height: get-vw-mobile(15px)
        border-radius: get-vw-mobile(4px)
        margin-bottom: get-vw-mobile(15px)
      select
        -webkit-appearance: none
        -moz-appearance: none
        position: relative
        background: $white url(assets/form-caret-down.png) 100% 50% no-repeat
      input[name="your-email"], select[name="your-country"] 
        margin-left: 0
      textarea
        width: 100%
        font-size: get-vw-mobile(12px)
        height: get-vw-mobile(133px)
        line-height: get-vw-mobile(16px)
        padding: get-vw-mobile(13px) get-vw-mobile(14px)
        border-radius: get-vw-mobile(6px)
        border: 1px solid $black
        option
          padding-left: 14px
      .wpcf7-submit
        width: get-vw-mobile(158px)
        height: get-vw-mobile(40px)
        font-size: get-vw-mobile(14px)
        margin-top: get-vw-mobile(30px)
        padding: get-vw-mobile(10px) get-vw-mobile(46px)
        line-height: get-vw-mobile(20px)
        margin-bottom: 0
        border: solid 2px $black
        &:hover
          background-color: rgba($white, .7)

.al-contact-div .al-contact-form-div .wpcf7-form input[type="text"], .al-contact-div .al-contact-form-div .wpcf7-form input[type="email"], .al-contact-div .al-contact-form-div .wpcf7-form input[type="tel"], .al-contact-div .al-contact-form-div .wpcf7-form select
  width: 100%
// END Contact Us

// Footer
.al-footer-container
  height: get-vw-mobile(127px)
  padding: get-vw-mobile(30px) 0
  img
    width: get-vw-mobile(100px)
    height: get-vw-mobile(33px)
    margin-bottom: get-vw-mobile(4px)
  p.al-text-white
    font-size: get-vw-mobile(10px)
    line-height: get-vw-mobile(13px)
    margin-bottom: 0
  a
    font-size: get-vw-mobile(10px)
    line-height: get-vw-mobile(13px)
  .footer-top
    width: get-vw-mobile(40px)
    height: get-vw-mobile(40px)
// END Footer

form.invalid
  margin-top: 30px

form.sent
  margin-top: 30px

form.failed
  margin-top: 30px

div.wpcf7-response-output
  width: calc(100% - 30px)
  font-size: 9px !important

div.wpcf7-response-output
  margin-top: 32px !important
