// Header
.swiper-container
  height: 114.58333333333334vw

.menu
  min-width: 13.020833333333334vw
  width: 70%
  max-width: 44.79166666666667vw
  .al-menu
    top: 15.755208333333334vw
    padding: 0
    width: 100%
    .al-menu-item
      border-bottom: 2px solid rgba(255, 255, 255, 0.15)
      padding: 3.2552083333333335vw 0 0 6.510416666666667vw
      height: 12.369791666666668vw
      font-size: 3.125vw
      line-height: 5.208333333333334vw
    &:first-child
      border-top: 2px solid rgba(255, 255, 255, 0.15)
  .al-menu-language
    bottom: 0
    height: 35.41666666666667vw
    .al-menu-language-text
      padding-top: 6.510416666666667vw
      font-size: 2.0833333333333335vw
      line-height: 2.604166666666667vw
    .al-menu-language-flag
      margin: 3.90625vw 1.6927083333333335vw 0 1.6927083333333335vw
      opacity: 0.4
      width: 6.510416666666667vw
      height: 6.510416666666667vw
    .language-flag-active
      opacity: 1

.content
  padding-top: 10.416666666666668vw

#al-carousel-hero
  height: 104.16666666666667vw
  .item
    background-position: center
    height: 104.16666666666667vw
    .item-overlay
      top: 0
    img
      height: 104.16666666666667vw
    .carousel-caption
      font-size: 6.25vw
      letter-spacing: 2.34375vw
      padding: 0
      top: 48.69791666666667vw
  .carousel-control
    top: 48.69791666666667vw
    img
      height: 7.552083333333334vw
      width: 7.552083333333334vw
    &:hover
      opacity: 1
  .right
    right: 2.604166666666667vw
    height: 2.604166666666667vw
  .left
    left: 2.604166666666667vw
    height: 2.604166666666667vw

.al-projects
  height: 14.322916666666668vw
  margin-top: 0.5208333333333334vw
  .swiper-container-projects
    height: 14.322916666666668vw
    width: 85.67708333333334vw
    .swiper-slide
      width: 26.302083333333336vw
      h2
        opacity: 0.4
        font-size: 2.34375vw

.al-projects
  height: 14.322916666666668vw
  margin-top: 0.5208333333333334vw
  .al-project-list
    height: 100%
    .al-project-list-item
      margin: 0 3.385416666666667vw
      height: 100%
      width: 22.65625vw
      .item-text
        opacity: 0.4
        font-size: 2.34375vw
        color: #ffffff
        margin-top: 5.859375vw
      .item-active
        opacity: 1
      .triangle
        width: 5.208333333333334vw
        height: 1.5625vw
        opacity: 0
        bottom: -1.4322916666666667vw
        left: 50%
        transform: translateX(-50%)
// END Header

// Our offices
.al-swiper-contact
  height: 42.708333333333336vw
  .flags-indicators
    padding-top: 7.8125vw
    .flag-image
      height: 6.380208333333334vw
      margin: 0 1.8229166666666667vw
      width: 6.510416666666667vw
  h4
    font-size: 2.0833333333333335vw
    line-height: 2.604166666666667vw
    margin: 4.947916666666667vw 0 2.604166666666667vw 0
  .swiper-wrapper
    width: 33.46354166666667vw
    .swiper-slide
      width: 33.46354166666667vw
      .office-detail
        width: 33.46354166666667vw
        h5
          font-size: 1.8229166666666667vw
          line-height: 2.604166666666667vw
          margin: 0
// END Our offices

// Properties
.al-properties-section
  .container-properties
    width: 100%
    padding: 0 5.208333333333334vw
  .properties-country-filter
    font-size: 2.0833333333333335vw
    line-height: 3.125vw
    margin: 7.421875vw 1.953125vw 6.770833333333334vw 1.953125vw
  .filter-left
    border-right: 2px solid #7f8182
    margin-right: 0
    opacity: 0.5
    padding-right: 1.953125vw
  .properties-filter
    border: solid 2px rgba(74, 74, 74, 0.4)
    font-size: 1.8229166666666667vw
    height: 4.6875vw
    line-height: 1.8229166666666667vw
    width: 22.265625vw
  .properties-list
    margin-top: 3.90625vw
    .property-image
      width: 26.302083333333336vw
      height: 25.651041666666668vw
      margin-bottom: 4.036458333333334vw
      margin-right: 3.385416666666667vw
      &:nth-child(3n+3)
        margin: 0
      .property-overlay
        opacity: 1
        bottom: 0
        width: 100%
        height: 80px
        background: rgba(0, 0, 0, 0.8)
        transition: all ease .3s
        -moz-transition: all ease .3s
        -ms-transition: all ease .3s
        -o-transition: all ease .3s
        -webkit-transition: all ease .3s
        .property-title
          font-size: 1.5625vw
          margin: 1.6927083333333335vw 0 2px 0
        .property-address, .property-city
          font-size: 1.3020833333333335vw
          line-height: 1.5625vw
          opacity: 0.5
          margin: 0
        .property-category
          margin-top: 0.78125vw
          font-size: 1.3020833333333335vw
          line-height: 1.3020833333333335vw
          opacity: 0.6
#al-pagination
  .pagination
    margin: 5.078125vw 0 11.71875vw 0
    li
      font-size: 2.0833333333333335vw
      line-height: 2.734375vw
      a
        height: 4.947916666666667vw
        padding-top: 1.0416666666666667vw
        width: 4.817708333333334vw
// END Properties