// Our offices
.al-swiper-contact
  height: 42.708333333333336vw
  .flags-indicators
    padding-top: 7.8125vw
    .flag-image
      height: 6.380208333333334vw
      margin: 0 1.8229166666666667vw
      width: 6.510416666666667vw
  h4
    font-size: 2.0833333333333335vw
    line-height: 2.604166666666667vw
    margin: 4.947916666666667vw 0 2.604166666666667vw 0
  .swiper-wrapper
    width: 33.46354166666667vw
    .swiper-slide
      width: 33.46354166666667vw
      .office-detail
        width: 33.46354166666667vw
        h5
          font-size: 1.8229166666666667vw
          line-height: 2.604166666666667vw
          margin: 0
// END Our offices