// General
body
  font-family: Montserrat-Regular, sans-serif

.no-padding
  padding: 0

.no-margin
  margin: 0
// END General

// Partners
.hr-partners-section
  z-index: 1
  height: get-vw-desktop(320px)
  padding: get-vw-desktop(81px) 0 get-vw-desktop(82px) 0
  background-color: $white
  -webkit-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  -moz-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  .hr-partners-title
    color: $grey
    font-size: get-vw-desktop(36px)
    line-height: get-vw-desktop(44px)
    margin: 0
    font-family: Montserrat-Regular, sans-serif
    span
      font-family: Montserrat-Bold, sans-serif
  .hr-partners-images
    padding-top: get-vw-desktop(30px)
    .partners-images-one
      padding-top: get-vw-desktop(8px)
      margin-right: get-vw-desktop(185px)
      width: get-vw-desktop(196px)
      height: get-vw-desktop(67px)
    .partners-images-two
      width: get-vw-desktop(242px)
      height: get-vw-desktop(83px)
// END Partners


// Filters

.property-status
  list-style-type: none
  padding: 0

.property-search
  position: relative
  display: table
  width: 100%

.property-search
  button
    position: absolute
    width: 70px
    height: 70px
    left: 0
    right: 0
    bottom: -30px
    margin: 0 auto
    background: $bluelight
    border: none
    border-radius: 50%
    -webkit-transition: .5s
    -moz-transition: .5s
    -ms-transition: .5s
    -o-transition: .5s
    transition: .5s
    &:hover
      -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2)
      box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2)
    i
      color: $white
      font-size: 28px

.property-status input[type="radio"]
  opacity: 0.011
  z-index: 100

.property-status input[type="radio"]:checked + label
  color: $white

.property-status
  label
    padding: 30px
    cursor: pointer
    width: 100%
    background: $mainblue
    color: rgba(255, 255, 255, 0.6)
    text-align: center
    margin: 0
    font-size: 20px
    line-height: 20px
    -webkit-transition: .5s
    -moz-transition: .5s
    -ms-transition: .5s
    -o-transition: .5s
    transition: .5s

.property-status
  label
    &:hover
      color: $white

.property-list
  margin-top: 70px
  .hr-heading
    font-size: 16px
    font-weight: bold
    letter-spacing: -0.1px
    color: $white
    height: 50px
    background-color: $mainblue
    padding: 16px 15px 15px 20px
    margin-bottom: 20px
  .property-sorting
    span
      display: block
      color: $grey
    .state-search
      font-size: 24px
      font-weight: bold
      letter-spacing: -0.1px
      font-family: Montserrat-Bold, sans-serif
    .results-search
      font-size: 16px
      letter-spacing: -0.1px
      opacity: 0.6
    hr
      border: solid 1px rgba(74, 74, 74, 0.1)
    .choose-search
      border-left: solid 1px rgba(74, 74, 74, 0.3)
      padding: 10px 20px
      margin: 4px 0
      .radio
        padding-left: 20px
        input[type="radio"]
          opacity: 0
          z-index: 1
          cursor: pointer
        input[type="radio"]:focus + label
          &::before
            outline: 0
            outline-offset: -2px
        input[type="radio"]:checked + label
          &::after
            -webkit-transform: scale(1, 1)
            -ms-transform: scale(1, 1)
            -o-transform: scale(1, 1)
            transform: scale(1, 1)
        label
          display: inline-block
          vertical-align: middle
          position: relative
          padding-left: 5px
          font-size: 16px !important
          opacity: 0.6
          color: $grey
          &::before
            content: ""
            display: inline-block
            position: absolute
            width: 17px
            height: 17px
            left: 0
            margin-left: -20px
            border: 1px solid #cccccc
            border-radius: 50%
            background-color: #fff
            -webkit-transition: border 0.15s ease-in-out
            -o-transition: border 0.15s ease-in-out
            transition: border 0.15s ease-in-out
          &::after
            display: inline-block
            position: absolute
            content: " "
            width: 11px
            height: 11px
            left: 3px
            top: 3px
            margin-left: -20px
            border-radius: 50%
            background-color: $greenradio
            -webkit-transform: scale(0, 0)
            -ms-transform: scale(0, 0)
            -o-transform: scale(0, 0)
            transform: scale(0, 0)
            -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33)
            -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33)
            -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33)
            transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33)
      .radio-inline
        margin-top: 0 !important

  select
    width: 262px
    height: 50px
    border-radius: 100px
    background-color: $greylight
    border: none
    padding: 10px 20px 10px 20px
    box-shadow: none!important
    font-size: 16px
    letter-spacing: -0.1px
    color: $grey
    opacity: 0.6
    &:-moz-focusring
      color: transparent
      text-shadow: 0 0 0 #000
    &:focus
      outline: 0
      box-shadow: none

.radio-success
  input[type="radio"] + label
    &::after
      background-color: #5cb85c

.radio-success
  input[type="radio"]:checked + label
    &::before
      border-color: #5cb85c

.radio-success input[type="radio"]:checked + label
  &:after
    background-color: #5cb85c

input[type="radio"].styled:checked + label
  &:after
    font-family: 'FontAwesome'
    content: "\f00c"


.property
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)
  margin-bottom: 40px
  display: block
  cursor: pointer
  -webkit-transition: .5s
  -moz-transition: .5s
  -ms-transition: .5s
  -o-transition: .5s
  transition: .5s
  &:hover
    text-decoration: none
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5)
  .property-image
    height: 350px
    background-repeat: no-repeat !important
    background-size: cover !important
    background-position: center center !important
  .property-info
    padding: 15px 20px 10px
    background-color: $greylighter
    span
      display: block
      width: 100%
      color: $grey
      font-size: 16px
    .property-price
      font-size: 26px
      font-weight: bold
      letter-spacing: -0.2px
      font-family: 'Montserrat-Bold', sans-serif
    .property-highlights
      margin-bottom: 2px
    .property-address
      margin-bottom: 10px
    .property-address, .property-code
      opacity: 0.6

.no-padding
  padding: 0 !important

.property-search
  .input-group
    width: 100%
    input
      border: none
      width: 100%
      height: 70px
      font-size: 18px
      text-align: center
      color: $grey
      opacity: 0.8
    i
      font-size: 18px
      color: $grey
      opacity: 0.8
      top: 26px
      position: absolute
      left: 278px

.property-filters
  text-align: center
  background: $greylight
  padding-top: 28px
  padding-bottom: 30px
  display: inline-block
  border-top: solid 1px rgba(74, 74, 74, 0.1)
  .filter
    font-size: 16px
    margin-bottom: 10px
    display: block
    font-weight: 500
    letter-spacing: -0.1px

input
  outline: none !important

.styled-select
  select
    border: none
    border-bottom: solid 1px $grey
    background: transparent
    font-size: 18px
    outline: none
    padding: 10px
    margin-bottom: 30px

// End Filters


// Rental One
.hr-rentalone-section
  height: get-vw-desktop(450px)
  background-size: cover
  position: relative
  .hr-rentalone-overlay
    position: absolute
    width: 100%
    height: 100%
    background: rgba($black, 0.5)
    .rentalone-logo
      padding-top: get-vw-desktop(111px)
      width: get-vw-desktop(300px)
    .rentalone-button
      display: block
      width: get-vw-desktop(216px)
      padding: get-vw-desktop(12.5px) get-vw-desktop(62px)
      border-radius: get-vw-desktop(100px)
      border: solid 2px $white
      margin: get-vw-desktop(50px) auto 0
      a
        height: 100%
        font-family: Montserrat-Bold, sans-serif
        font-size: get-vw-desktop(18px)
        line-height: get-vw-desktop(20px)
        color: $white
        &:hover
          text-decoration: none
// END Real One

// Footer
.hr-footer-section
  height: get-vw-desktop(230px)
  padding: get-vw-desktop(50px) 0
  position: relative
  background-color: $white
  box-shadow: 0 -8px 10px 0 rgba($black, 0.3)
  img
    width: get-vw-desktop(77px)
    height: get-vw-desktop(80px)
    margin-bottom: get-vw-desktop(10px)
  .hr-footer-text
    font-family: Montserrat-Regular, sans-serif
    font-size: get-vw-desktop(14px)
    line-height: get-vw-desktop(20px)
    margin-bottom: 0
    color: $grey-1
  .hr-footer-link
    font-size: get-vw-desktop(14px)
    line-height: get-vw-desktop(20px)
    font-family: Montserrat-Bold, sans-serif
    color: $grey-1
    cursor: pointer
    text-decoration: underline
  .footer-top
    width: get-vw-desktop(50px)
    height: get-vw-desktop(50px)
    cursor: pointer
    position: absolute
    right: get-vw-desktop(140px)
    top: get-vw-desktop(40px)
    z-index: 100
// END Footer