// Partners
.hr-partners-section
  z-index: 1
  height: get-vw-desktop(320px)
  padding: get-vw-desktop(81px) 0 get-vw-desktop(82px) 0
  background-color: $white
  -webkit-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  -moz-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  .hr-partners-title
    color: $grey
    font-size: get-vw-desktop(36px)
    line-height: get-vw-desktop(44px)
    margin: 0
    font-family: Montserrat-Regular, sans-serif
    span
      font-family: Montserrat-Bold, sans-serif
  .hr-partners-images
    padding-top: get-vw-desktop(30px)
    .partners-images-one
      padding-top: get-vw-desktop(8px)
      margin-right: get-vw-desktop(185px)
      width: get-vw-desktop(196px)
      height: get-vw-desktop(67px)
    .partners-images-two
      width: get-vw-desktop(242px)
      height: get-vw-desktop(83px)
// END Partners

// Rental One
.hr-rentalone-section
  height: get-vw-desktop(450px)
  padding: get-vw-desktop(111px) 0 get-vw-desktop(112px) 0
  .rentalone-logo
    height: get-vw-desktop(127px)
    width: get-vw-desktop(300px)
  .rentalone-button
    display: block
    width: get-vw-desktop(216px)
    padding: get-vw-desktop(12.5px) get-vw-desktop(62px)
    border-radius: get-vw-desktop(100px)
    border: solid 2px $white
    margin: get-vw-desktop(50px) auto 0
    a
      height: 100%
      font-family: Montserrat-Bold, sans-serif
      font-size: get-vw-desktop(18px)
      line-height: get-vw-desktop(20px)
      color: $white
// END Real One