// Header
#al-carousel-hero
  height: 880px
  .item
    .item-overlay
      top: 0
    img
      height: 880px
    .carousel-caption
      font-size: 80px
      letter-spacing: 18px
      padding: 0
      top: 380px
  .carousel-control
    top: 409px
    &:hover
      opacity: 1
  .right
    right: 4.166666666666667vw
  .left
    left: 4.166666666666667vw
// END Header

// Contact Us
.al-contact-div
  padding-top: 57px

.al-contact-text, .al-contact-text-bold
  font-size: 36px

.al-phone-div
  padding-top: 40px
  .al-phone-box
    padding: 45px 30px
    p
      font-size: 24px

a.al-phone-num
  font-size: 36px
// Contact Us

// Our offices
.al-swiper-contact
  .flags-indicators
    padding-top: 61px
    .flag-image
      margin: 0 20.5px
  h4
    font-size: 18px
    line-height: 20px
    margin: 40px 0 20px 0
  .swiper-wrapper
    .swiper-slide
      .office-detail
        width: 302px
        h5
          font-size: 16px
          line-height: 25px
          margin: 0
// END Our offices