.breadcrumb-info
  margin-top: get-vw-desktop(80px)
  height: get-vw-desktop(46px)
  background: $mainblue
  color: $white
  .breadcrumbs
    font-size: get-vw-desktop(13px)
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    line-height: get-vw-desktop(46px)
    a
      color: $white
      .fa-chevron-left
        margin-right: 5px
        cursor: pointer
  .published, .status
    display: inline-block
    font-size: get-vw-desktop(13px)
  .status
    span
      color: $green-active

.property-carousel
  height: get-vw-desktop(420px)
  .swiper-container
    width: 100%
    height: 100%
  .swiper-slide
    text-align: center
    font-size: 18px
    background: #fff
    div
      width: get-vw-desktop(600px)
      height: 100%
      background-repeat: no-repeat
      background-size: cover
      background-position: center center
      margin: 0 auto
  .swiper-button-next, .swiper-button-prev
    background-image: none
    .fa
      font-size: 30px
      color: $grey-1
  .swiper-button-next
    right: 100px
  .swiper-button-prev
    left: 100px
  .total
    position: absolute
    right: get-vw-desktop(110px)
    top: get-vw-desktop(20px)
    opacity: 0.8
    background-color: $grey
    width: get-vw-desktop(110px)
    height: get-vw-desktop(35px)
    z-index: 10
    color: $white
    font-size: get-vw-desktop(12px)
    padding: get-vw-desktop(9px) 0
    text-align: center
    .fraction
      display: inline-block
      width: auto
    i
      opacity: 0.8
      font-size: get-vw-desktop(14px)

.borderl
  border-right: solid 1px rgba(74, 74, 74, 0.3)

.paddingl30
  padding-left: 30px

.property-info-heading
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2)
  height: get-vw-desktop(100px)
  margin-bottom: 40px
  font-size: get-vw-desktop(14px)
  color: $grey
  font-family: 'Montserrat-Light'
  letter-spacing: -0.1px
  padding: get-vw-desktop(20px) 0
  background: $white
  z-index: 999999 !important
  /*div[class*='col']
    padding: 0*/
  .sm-text
    font-size: get-vw-desktop(14px)
  .price-txt
    font-size: get-vw-desktop(20px)
    font-family: 'Montserrat-bold'
    line-height: get-vw-desktop(24px)
  .md-text
    font-size: get-vw-desktop(16px)
    font-family: 'Montserrat-bold'
    line-height: get-vw-desktop(16px)
    margin-bottom: get-vw-desktop(3px)
    .addr
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      padding-right: get-vw-desktop(15px)
  .surface
    padding: get-vw-desktop(13px) 0

.property-features
  .oh-wrap
    margin-top: 20px
    margin-bottom: 40px
  .open-house
    color: $mainblue
    font-size: 16px
    font-family: 'Montserrat-bold'
    //display: inline-block
    padding: 7px 20px
    margin-top: 40px
    display: none
    background-color: $grey-open
  .open-blue
    background-color: $mainblue
    padding: 7px 20px
    color: $white
  .panel
    border: none
    -webkit-box-shadow: none
    box-shadow: none
    .panel-heading
      background: none
      padding: 22px 0
      .panel-title
        position: relative
        background-color: $white
        &:after
          content: ""
          position: absolute
          bottom: 0
          left: 0
          right: 0
          height: 2px
          border-top: 2px solid rgba(143, 143, 143, 0.4)
          top: 0
          margin: auto
          width: 95%
        a
          font-size: 16px
          letter-spacing: -0.1px
          font-family: 'Montserrat-Medium'
          color: $grey
          position: relative
          display: inline-block
          background: $white
          z-index: 10
          padding-right: 15px
          &:hover, &:focus, &:active
            text-decoration: none
        i
          position: absolute
          right: 0
          top: 0
          bottom: 0
          margin: auto
          height: 16px
          font-size: 16px
          color: $grey-1
          -webkit-transition: all 0.5s ease
          -moz-transition: all 0.5s ease
          -o-transition: all 0.5s ease
          transition: all 0.5s ease
          cursor: pointer
        .number
          display: inline-block
          width: 22px
          height: 22px
          border: solid 2px $grey
          border-radius: 50%
          text-align: center
          margin-right: 10px
          font-size: 14px
          line-height: 18px
    .panel-body
      border-top-color: transparent !important
      font-size: 14px
      padding: 20px 120px
      line-height: 25px
      color: $grey
      font-family: 'Montserrat-Light'
      p
        margin-bottom: 0
      h6
        font-size: 15px
        font-family: 'Montserrat-Bold'
      .main-features
        margin-bottom: 50px
        text-align: center
        font-size: 18px
        margin-right: -50px
        margin-left: -50px
        .feature
          padding: 5px 0 !important
          font-size: 14px
          &:not(:last-child)
            border-right: solid 1px rgba(74, 74, 74, 0.3)
          .info
            font-size: 14px
        .fa-info-circle
          color: $grey-1
          font-size: 16px
          cursor: pointer
          margin-right: 6px
      .nb-photo
        height: 205px
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        margin-top: 20px

.property-similar
  margin-bottom: 50px

#map-detail
  height: get-vw-desktop(490px)
  width: 100%

.published
  line-height: get-vw-desktop(46px)
  p
    color: rgba(255, 255, 255, 0.5)
    font-size: get-vw-desktop(13px)
    margin: 0
    strong
      color: $white
  .divider
    margin: 0 6px

.disclaimer-text
  font-size: get-vw-desktop(11px)
  line-height: get-vw-desktop(20px)
  color: $grey
