// Partners
.hr-partners-section
  height: get-vw-tablet(240px)
  padding: get-vw-tablet(60px) 0
  -webkit-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  -moz-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  .hr-partners-title
    font-size: get-vw-tablet(28px)
    line-height: get-vw-tablet(34px)
    margin: 0
  .hr-partners-images
    padding-top: get-vw-tablet(30px)
    .partners-images-one
      padding-top: get-vw-tablet(6px)
      margin-right: get-vw-tablet(102px)
      width: get-vw-tablet(131px)
      height: get-vw-tablet(45px)
    .partners-images-two
      width: get-vw-tablet(164px)
      height: get-vw-tablet(56px)
// END Partners

// Rental One
.hr-rentalone-section
  height: get-vw-tablet(400px)
  .hr-rentalone-overlay
    .rentalone-logo
      padding-top: get-vw-tablet(102px)
      width: get-vw-tablet(250px)
    .rentalone-button
      width: get-vw-tablet(200px)
      padding: get-vw-tablet(13px) get-vw-tablet(65px)
      border-radius: get-vw-tablet(100px)
      border: solid 2px $white
      margin: get-vw-tablet(40px) auto 0
      a
        height: 100%
        font-size: get-vw-tablet(16px)
        line-height: get-vw-tablet(20px)
// END Real One

// Footer
.hr-footer-section
  height: get-vw-tablet(174px)
  padding: get-vw-tablet(20px) 0
  box-shadow: 0 -8px 10px 0 rgba($black, 0.3)
  img
    width: get-vw-tablet(66px)
    height: get-vw-tablet(68px)
    margin-bottom: get-vw-tablet(10px)
  .hr-footer-text
    font-size: get-vw-tablet(14px)
    line-height: get-vw-tablet(20px)
    margin-bottom: 0
  .hr-footer-link
    font-size: get-vw-tablet(12px)
    line-height: get-vw-tablet(18px)
  .footer-top
    width: get-vw-tablet(40px)
    height: get-vw-tablet(40px)
    right: get-vw-tablet(55px)
    top: get-vw-tablet(20px)
// END Footer

.property-status
  label
    font-size: 12px
    padding: 13px

.property-search
  .input-group
    input
      font-size: 12px
      height: 40px

.property-filters
  width: 100%
  padding-top: 20px
  padding-bottom: 15px
  .filter
    font-size: 11px

.property-search
  button
    width: 40px
    height: 40px
    bottom: -15px
    i
      font-size: 16px
  .input-group
    i
      left: 150px
      top: 11px !important

.styled-select
  select
    font-size: 12px

.property-list
  .property-sorting
    .state-search
      font-size: 18px
    .results-search
      font-size: 14px
    select
      width: 200px
      height: 40px
      font-size: 14px
    .choose-search
      padding: 10px 20px
      margin: -2px 0 0
      .radio
        label
          font-size: 14px
  .hr-heading
    height: 40px
    font-size: 14px
    padding: 14px 15px 10px 20px

.property
  .property-image
    height: 155px
  .property-info
    padding: 8px 10px 10px
    span
      font-size: 9px
    .property-price
      font-size: 16px
