// General
.container-hr
  width: get-vw-tablet(665px)
  height: 100%
// END General

// Hero
.hr-hero-section
  margin-top: get-vw-tablet(80px)
  height: get-vw-tablet(410px)
  background-position: center
  .hero-overlay
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.5)
    .hero-text
      margin-top: get-vw-tablet(111px)
      margin-bottom: 0
      font-size: get-vw-tablet(24px)
      line-height: get-vw-tablet(30px)
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5)
    .hero-text-bold
      margin-top: 0
      font-size: get-vw-tablet(58px)
      line-height: get-vw-tablet(60px)
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5)
// END Hero

// Partners
.hr-partners-section
  height: get-vw-tablet(240px)
  padding: get-vw-tablet(60px) 0
  -webkit-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  -moz-box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  box-shadow: 0 -4px 20px 0 rgba($black, 0.3)
  .hr-partners-title
    font-size: get-vw-tablet(28px)
    line-height: get-vw-tablet(34px)
    margin: 0
  .hr-partners-images
    padding-top: get-vw-tablet(30px)
    .partners-images-one
      padding-top: get-vw-tablet(6px)
      margin-right: get-vw-tablet(102px)
      width: get-vw-tablet(131px)
      height: get-vw-tablet(45px)
    .partners-images-two
      width: get-vw-tablet(164px)
      height: get-vw-tablet(56px)
// END Partners

// Rental One
.hr-rentalone-section
  height: get-vw-tablet(400px)
  background-position: center
  .hr-rentalone-overlay
    .rentalone-logo
      padding-top: get-vw-tablet(102px)
      width: get-vw-tablet(250px)
    .rentalone-button
      width: get-vw-tablet(200px)
      padding: get-vw-tablet(13px) get-vw-tablet(65px)
      border-radius: get-vw-tablet(100px)
      border: solid 2px $white
      margin: get-vw-tablet(40px) auto 0
      a
        height: 100%
        font-size: get-vw-tablet(16px)
        line-height: get-vw-tablet(20px)
// END Real One

// Contact Us
.wpcf7-response-output
  top: get-vw-tablet(-25px)
  left: get-vw-tablet(30px)

.hr-contact-text
  font-size: get-vw-tablet(25px)
  margin-top: get-vw-tablet(60px)
  line-height: get-vw-tablet(34px)
  margin-bottom: get-vw-tablet(3px)
.hr-contact-text-bold
  font-size: get-vw-tablet(24px)
  line-height: get-vw-tablet(34px)
  margin: 0

.hr-phone-box
  border-radius: get-vw-tablet(18px)
  max-width: get-vw-tablet(372px)
  max-height: get-vw-tablet(260px)
  margin: get-vw-tablet(50px) auto 0 auto
  padding: get-vw-tablet(41px) get-vw-tablet(44px)
  box-shadow: 0 4px get-vw-tablet(10px) 0 rgba($black, 0.3)
  -moz-box-shadow: 0 4px get-vw-tablet(10px)0 rgba($black, 0.3)
  -webkit-box-shadow: 0 4px get-vw-tablet(10px) 0 rgba($black, 0.3)
  img
    width: get-vw-tablet(50px)
    height: get-vw-tablet(50px)
  p
    padding-top: get-vw-tablet(10px)
    line-height: get-vw-tablet(30px)
    font-size: get-vw-tablet(24px)
    padding-bottom: get-vw-tablet(28px)

a.hr-phone-num
  font-size: get-vw-tablet(30px)
  line-height: get-vw-tablet(30px)
  font-family: Montserrat-Bold

.hr-contact-form-div
  margin-top: get-vw-tablet(40px)

.wpcf7-form-control-wrap
  margin-bottom: get-vw-tablet(20px)

.wpcf7-form
  p
    margin-right: get-vw-tablet(20px)
  input[type="text"], input[type="email"], input[type="tel"], select
    width: get-vw-tablet(319px)
    height: get-vw-tablet(47px)
    padding: 0 get-vw-tablet(20px)
    font-size: get-vw-tablet(14px)
    line-height: get-vw-tablet(15px)
    border-radius: get-vw-tablet(4px)
    border: 1px solid rgba(143, 143, 143, 1)
    margin-bottom: get-vw-tablet(20px)

  textarea
    width: 100%
    font-size: get-vw-tablet(14px)
    max-height: get-vw-tablet(133px)
    line-height: get-vw-tablet(16px)
    padding: get-vw-tablet(15px) get-vw-tablet(20px)
    border-radius: get-vw-tablet(4px)
    border: 1px solid rgba(143, 143, 143, 1)
  option
    padding-left: get-vw-tablet(20px)
  .your-name, .your-phone
    margin-right: get-vw-tablet(20px)
  .wpcf7-submit
    border-radius: get-vw-tablet(100px)
    height: get-vw-tablet(50px)
    width: get-vw-tablet(200px)
    font-size: get-vw-tablet(16px)
    margin: get-vw-tablet(30px) 0 get-vw-tablet(60px) 0
    padding: 0px get-vw-tablet(67px)
    line-height: get-vw-tablet(20px)
    &:hover
      background-color: rgba($white, .7)
// END Contact Us

// Footer
.hr-footer-section
  height: get-vw-tablet(174px)
  padding: get-vw-tablet(20px) 0
  box-shadow: 0 -8px 10px 0 rgba($black, 0.3)
  img
    width: get-vw-tablet(66px)
    height: get-vw-tablet(68px)
    margin-bottom: get-vw-tablet(10px)
  .hr-footer-text
    font-size: get-vw-tablet(14px)
    line-height: get-vw-tablet(20px)
    margin-bottom: 0
  .hr-footer-link
    font-size: get-vw-tablet(12px)
    line-height: get-vw-tablet(18px)
  .footer-top
    width: get-vw-tablet(40px)
    height: get-vw-tablet(40px)
    right: get-vw-tablet(55px)
    top: get-vw-tablet(20px)
// END Footer

.property-status
  label
    font-size: 12px
    padding: 13px

.property-search
  margin-top: -100px !important
  .input-group
    input
      font-size: 12px
      height: 40px

.property-filters
  width: 100%
  padding-top: 20px
  padding-bottom: 15px
  .filter
    font-size: 11px

.property-search
  button
    width: 40px
    height: 40px
    bottom: -15px
    i
      font-size: 16px
  .input-group
    i
      left: 150px
      top: 11px !important

.styled-select
  select
    font-size: 12px

.property-list
  .property-sorting
    .state-search
      font-size: 18px
    .results-search
      font-size: 14px
    select
      width: 200px
      height: 40px
      font-size: 14px
    .choose-search
      padding: 10px 20px
      margin: -2px 0 0
      .radio
        label
          font-size: 14px
  .hr-heading
    height: 40px
    font-size: 14px
    padding: 14px 15px 10px 20px

.property
  .property-image
    height: 155px
  .property-info
    padding: 8px 10px 10px
    span
      font-size: 9px
    .property-price
      font-size: 16px
