.breadcrumb-info
  height: get-vw-tablet(40px)
  margin-top: get-vw-tablet(80px)

.property-info-heading
  font-size: get-vw-tablet(10px)
  height: get-vw-tablet(80px)
  padding: get-vw-tablet(18px) 0
  .price-txt
    font-size: get-vw-tablet(18px)
    line-height: get-vw-tablet(18px)
  .sm-text
    font-size: get-vw-tablet(8px)
  .md-text
    font-size: get-vw-tablet(14px)
    line-height: get-vw-tablet(14px)
  .surface
    padding: get-vw-tablet(13px) 0
    padding-bottom: 0
    .md-text
      font-size: get-vw-tablet(14px)
      line-height: get-vw-tablet(14px)

.property-features
  .open-house
    font-size: get-vw-tablet(12px)
  .panel
    .panel-heading
      padding: get-vw-tablet(18px) 0
      .panel-title
        a
          font-size: get-vw-tablet(16px)
        .number
          width: get-vw-tablet(24px)
          height: get-vw-tablet(24px)
          line-height: get-vw-tablet(19px)
    .panel-body
      font-size: get-vw-tablet(12px)
      padding: get-vw-tablet(20px) get-vw-tablet(60px)
      .nb-photo
        height: get-vw-tablet(115px)
      .main-features
        font-size: get-vw-tablet(12px)
        line-height: get-vw-tablet(15px)
        .feature
          .info
            font-size: get-vw-tablet(12px)


.prop-header
  height: 500px !important
  h1
    font-size: 24px !important
    height: 25px
    top: -120px
  h2
    font-size: 18px !important
    top: -45px

.hero-buttons
  a.download-bro
    font-size: 16px
    min-width: 230px

#property-content
  p
    font-size:  14px !important
    line-height: 24px !important
    padding: 0 50px !important

.detail-tlt
  font-size: 20px !important
  height: 60px !important
  padding: 0 !important
  line-height: 60px !important

.detail-content
  ol
    padding: 0 50px !important
    font-size:  14px !important

.memory-items
  ol
    padding: 0 10px !important
    font-size: 14px !important

.amenimg
  height: get-vw-tablet(170px) !important

#map
  height: 429px !important

#gallery-top-blueprint
  height: 297px !important

#gallery-thumbs-blueprint
  height: get-vw-tablet(140px) !important

.swiper-button-prev, .swiper-button-next
  font-size: 22px

.btn-planos
  font-size: 16px
  width: auto

.places-wrapper
  .places-mask
    display: block !important
    top: initial !important
    line-height: 40px !important
    font-size: 11px !important
    height: 40px !important
    bottom: 0 !important
    background-color: $mainblue

#gallery-top-blueprint
  .swiper-slide
    .bp-title
      span
        font-size: 14px !important

#ala-header
  .swiper-container-hero
    padding-top: 80px !important

a.download-bro
  bottom: 100px

.breadcrumb-info
  .status, .published
    font-size: get-vw-tablet(8px)
  .breadcrumbs
    font-size: get-vw-tablet(8px)
    line-height: get-vw-tablet(40px)

.published
  line-height: get-vw-tablet(40px)
  p
    color: rgba(255, 255, 255, 0.5)
    font-size: get-vw-tablet(8px)
    margin: 0
    strong
      color: $white
  .divider
    margin: 0 6px

.disclaimer-text
  font-size: get-vw-tablet(9px)
  line-height: get-vw-tablet(14px)

#ytvideo,
#ytvideo2
  width: 100%
  margin-right: 0

#watchVideo
  ul
    margin: 0
    width: 100%
    li
      width: 33%
      a
        img
          width: 100%
          padding: 0 15px